{% extends 'base.html' %} {% load static %} {% block title %} Achievements - {{title}}
{% endblock title %} {% block head %} {% endblock head %} {% block body %}
{%include 'Departments/Hero.html' %}

<section class="md:px-24 pt-24 px-6" id="content">
  <h3 class="text-5xl font-semibold text-center mt-11 w-full">Achievements</h3>

  <div class="flex gap-10 md:flex-row flex-col">
    <div class="col-span-1">
      <h2 class="font-semibold text-2xl px-4">Departments</h2>
      <p class="px-4 text-gray-400">Home / Academics / Department / Achievements</p>

      {% include 'Departments/Sidebar.html' %}
      <div>
        {% with dep_updates as side_updates %}{% include 'Departments/Updates.html' %}{% endwith %}
      </div>
    </div>

    <div class="col-span-2 gap-10 space-y-16 mt-11 pt-6 ">
        {% for achivement in achivements %}
        
        <div class="flex md:flex-row flex-col justify-center items-center md:items-start  space-y-11 md:space-y-0 w-full px-6 md:space-x-6 h-auto group">
          <div class="h-[400px]  md:min-w-[300px] overflow-clip rounded-2xl">
            <img src="{{achivement.image.url}}" alt="{{achivement.image.name}}" class="w-full h-full scale-110 group-hover:scale-125 transition-all duration-500 object-cover">
            </div>
            <div class="space-y-5 flex flex-col group-odd:pr-11 md:px-8 px-1">
              <h3 class="text-2xl font-bold">{{achivement.name}}</h3>
              <p>{{achivement.data}}</p>
              <a href="{{achivement.link}}" class="p-3 px-6 border-2 border-blue-500 w-[150px] text-center rounded-xl">View Image</a>
            </div>
          </div>
          <div class="h-[2px] w-full bg-gray-200"></div>
          {% endfor %}
     </div>
    </div>
</section>


{% include 'components/gallery.html' %} {% include 'Departments/Contact.html' %}
{% endblock body %} {% block script %}
<script></script>
{% endblock script %}
