{% extends 'base.html' %} {% load static %} {% block title %} Activity Points {% endblock title %} {% block head %} {% endblock head %} {% block body %}
<main>
  {%include 'Departments/Hero.html' %}
  <section class="md:px-24 w-full text-center flex items-start justify-start">
    <div class="col-span-1 flex justify-center items-center flex-col">
      <h2 class="font-semibold text-2xl px-4">Departments</h2>
      <p class="px-4 text-gray-400">Home / Academics / Department / About</p>
      {% include 'Departments/Sidebar.html' %}
    </div>
    <div class="w-full h-full p-5 flex flex-col items-center justify-start">
      <h3 class="text-3xl font-semibold text-center mt-11">About</h3>
      <p class="text-justify text-sm mt-4 mb-11">Apart from technical knowledge and skills, to be successful as professionals,
        students should have excellent soft skills, leadership qualities and team spirit.
        They should have entrepreneurial capabilities and societal commitment.
        In order to nurture these qualities, KTU has introduced activity points to be
        earned by the students during their academic stay at the University covering
        extra-curricular and co- curricular activities. All students have to earn a
        minimum of 100 activity points from various activity segments listed to qualify
        for the B.Tech degree.</p>
      <h1 class="text-4xl my-11 font-bold">Rules and Regulations</h1>
      <div class="p-1 border-2 border-blue-500 w-full flex ">
        <iframe
          src="{%static 'pdfs/activitypoint.pdf'%}"
          frameborder="0"
          width="100%"
          height="100%"
          class="h-[90vh] aspect-w-9 aspect-h-16"
        >
        </iframe>
      </div>
    </div>
  </section>
</main>

{% include 'components/gallery.html' %} {% endblock %}
