{% extends 'base.html' %} {% load static %} {% block title %} Alumni {{dep}}
{%endblock title %} {% block head %} {% endblock head %} {% block body %}

{% include 'Departments/Hero.html' %}




<section class="md:px-24 px-7 mt-11" id="content">
  <div class="flex gap-10 md:flex-row flex-col">
      <div class="col-span-1">
          <h2 class="font-semibold text-2xl px-4">Departments</h2>
          <p class="px-4 text-gray-400">Home / Academics / Department / About</p>

          {% include 'Departments/Sidebar.html' %}
      </div>

      <div class=" w-full space-y-16 mt-11 ">
        
        <div class="w-full flex flex-col justify-center items-center">
          <h1 class="text-4xl my-11 font-bold">Distinguished Alumni</h1>
          </div>
          <div
            class="flex flex-wrap lg:gap-16 md:gap-10 gap-6 justify-center items-center"
          >
            {%for faculty in faculties%}
            <a
              class="bg-white shadow-md px-4 py-1 group rounded-xl w-[350px] flex flex-col items-center"
              href='{{faculty.profile.url}}' target="_blank"
            >
            <div class="overflow-clip h-[280px]  rounded-xl">
              <img
                src="{{faculty.image.url}}"
                alt="hero_img"
                class="h-[350px] w-full bg-gray-300 group-hover:scale-110 transition-all duration-500 ease-in-out "
              />
            </div>
              <div class="space-y-1 mt-1 text-center">
                <h1 class="text-xl font-bold">{{faculty.name}}</h1>
                <p class="text-xs text-gray-500">{{faculty.description}}</p>
              </div>
            </a>
            {%endfor%}
          </div>
        </div>
      </div>
  </div>

</section>

{% include 'components/gallery.html'%}
{% include 'Departments/Contact.html'%}
{% endblock body %} {% comment %}
{{faculty.role.all|join:", "}} {% endcomment %}
