<section class="md:px-24 p-5 px-6 " id="contact-us">
    <div class="flex md:flex-row flex-col text-xl md:items-end justify-evenly   md:gap-10 w-full">
        <div class="space-y-4 ">
            <h1 class="text-6xl font-semibold my-11 ">Contact us</h1>
            <p>For all doubts, queries regarding the department, <br> contact our Head Of Department. </p>
            <h3 class="uppercase text-2xl font-bold">{{contact.first.name}}</h3>
            <h4 class="text-xl flex"><span class="material-symbols-outlined font-bold mr-3">
                call
                </span>{{contact.first.phone}}</h4>
            <h5 class="text-xl flex"><span class="material-symbols-outlined font-bold mr-3">
                mail
                </span>{{contact.first.email}}</h5>
        </div>
        <div class="space-y-4 mt-6 md:mt-0">
            <p>For all doubts, queries regarding the department, <br> contact our Head Of Department. </p>
            <h3 class="uppercase text-2xl font-bold">{{contact.last.name}}</h3>
            <h4 class="text-xl flex"><span class="material-symbols-outlined font-bold mr-3">
                call
                </span>{{contact.last.phone}}</h4>
            <h5 class="text-xl flex"><span class="material-symbols-outlined font-bold mr-3">
                mail
                </span>{{contact.last.email}}</h5>
        </div>
    </div>
</section>