<section class="px-24 p-5 ">
    <div class="flex md:flex-row flex-col text-xl md:items-end justify-evenly   gap-10 w-full">
        <div class="space-y-4 ">
            <h1 class="text-6xl font-semibold my-11 ">Contact us</h1>
            <p>For all doubts, queries regarding the department, <br> contact our Head Of Department. </p>
            <h3 class="uppercase text-2xl font-bold">irIS JOSE</h3>
            <h4 class="text-xl ">+91 9809055360</h4>
            <h5 class="text-xl ">hod@cce.edu.in</h5>
        </div>
        <div class="space-y-4">
            <p>For all doubts, queries regarding the department, <br> contact our Head Of Department. </p>
            <h3 class="uppercase text-2xl font-bold">irIS JOSE</h3>
            <h4 class="text-xl ">+91 9809055360</h4>
            <h5 class="text-xl ">hod@cce.edu.in</h5>
        </div>
    </div>
</section>