<section class="md:px-24 p-5 px-6 bg-gray-50 " id="contact-us">
    <div class="flex md:flex-row flex-col text-xl md:items-end md:justify-evenly   md:gap-10 w-full">
        <div class="space-y-4 ">
            <h1 class="md:text-6xl text-4xl font-semibold md:my-11 mb-4 ">Contact us</h1>
            <p class="text-sm md:text-base">For all doubts, queries regarding the department, <br> contact our Head Of Department. </p>
            <h3 class="uppercase md:text-2xl text-xl font-bold">{{contact.first.name}}</h3>
            <h4 class="md:text-xl flex"><span class="material-symbols-outlined font-bold mr-3">
                call
                </span class="text-sm md:text-xl ">{{contact.first.phone}}</h4>
            <h5 class="text-xl flex"><span class="material-symbols-outlined font-bold mr-3">
                mail
                </span class="text-sm md:text-xl ">{{contact.first.email}}</h5>
        </div>
        <div class="space-y-4 mt-6 md:mt-0">
            <p class="text-sm md:text-base">For all doubts, queries regarding the department, <br> contact our staff. </p>
            <h3 class="uppercase text-xl md:text-2xl font-bold">{{contact.last.name}}</h3>
            <h4 class="text-xl flex"><span class="material-symbols-outlined font-bold mr-3">
                call
                </span class="text-sm md:text-xl ">{{contact.last.phone}}</h4>
            <h5 class="text-xl flex"><span class="material-symbols-outlined font-bold mr-3">
                mail
                </span class="text-sm md:text-xl ">{{contact.last.email}}</h5>
        </div>
    </div>
</section>