{% extends 'base.html' %} {% load static %} {% block title %} Higher Studies {{dep}}
{%endblock title %} {% block head %} {% endblock head %} {% block body %}

{% include 'Departments/Hero.html' %}

<section class="md:px-24 px-7 mt-11" id="content">
    <div class="flex gap-10 md:flex-row flex-col">
        <div class="col-span-1">
            <h2 class="font-semibold text-2xl px-4">Departments</h2>
            <p class="px-4 text-gray-400">Home / Academics / Department / About</p>

            {% include 'Departments/Sidebar.html' %}
        </div>

        <div class=" w-full mt-11 ">
            <div>
                <div class="flex items-center gap-2 text-sm font-medium">
                  
                    <a href="{% url 'Department' dep 'placements' %}#content"
                      class="relative flex items-center justify-center gap-2 rounded-lg border-solid border-2  px-3 py-2 text-gray-700 hover:text-gray-700 ">
                      Placements</a>
                    <a href="{% url 'Department' dep 'higher' %}#content"
                      class="relative flex items-center justify-center gap-2 rounded-lg border-solid border-2  px-3 py-2 text-gray-700 hover:text-gray-700 bg-blue-500 border-blue-500 ">
                      Higher Studies</a>      
                </div>
              </div>
            <div class="w-full flex flex-col justify-center items-center">
                
                <h1 class="text-4xl my-11 font-bold">Higher Studies</h1>

                {% for item in students %}
                {% if item %}
                <h3 class="text-xl font-semibold w-full text-left mb-4 mt-11 py-1">Batch
                    {{item.year}}</h3>
                <div class="p-1 border-2 w-full border-blue-500 ">
                    <iframe
                        src="{{item.students_pdf.url}}"
                        frameborder="0" width="100%" height="100%"
                        class="h-[90vh] w-full aspect-w-9 aspect-h-16">
                    </iframe>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</section>

{% include 'components/gallery.html'%}
{% include 'Departments/Contact.html'%}
{% endblock body %}
