{% extends 'base.html' %} {% load static %} {% block title %} Products Developed
{% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'css/department.css' %}" />
{% endblock head %} {% block body %} {% include 'Departments/Hero.html' %}
<section class="md:px-24 pt-24 px-6" id="content">
  <div class="flex gap-10 lg:flex-row flex-col">
    <div class="col-span-1 flex justify-center items-center flex-col">
      <h2 class="font-semibold text-2xl px-4">Departments</h2>
      <p class="px-4 text-gray-400">Home / Academics / Department / About</p>
      {% include 'Departments/Sidebar.html' %}
    </div>
    <div>
        <div class="pt-6 w-full">
          <div class="pt-6 pl-9 w-full relative">
            <h3 class=" text-2xl md:text-5xl font-semibold text-center mt-11 w-full my-6">Products Developed</h3>
            <div class="block xl:block w-full  p-2  py-1 rounded-xl">
              <div
                class="hidden xl:block  rounded-xl py-6 sticky top-[10vh]">
                <div class="w-auto grid grid-cols-5 justify-evenly min-h-[50px] py-6 bg-blue-300 rounded-md">
                  <div class="text-center px-2">Product</div>
                  <div class="text-center px-2">Developers</div>
                  <div class="text-center px-2">Year</div>
                  <div class="text-center px-2">Status</div>
                  <div class="text-center px-2">Reference</div>
                </div>
              </div>
      
              <div class="space-y-4 xl:space-y-0  bg-white">
                {% for item in products%}
                <div class="hidden xl:block">
                  <div class="w-auto grid grid-cols-5 min-h-[50px] py-6">
                    <div class="text-center px-2">{{item.product_name}}</div>
                    <div class="text-center px-2">
                      {{item.name_of_developers}}
                    </div>
                    <div class="text-center px-2">{{item.year}}</div>
                    <div class="text-center px-2 {% if item.status == 'completed' %} text-green-400{% else %}text-blue-500 {% endif %}">{{item.status}}</div>
                    <div class="text-center px-2 text-blue-500 underline"> <a href="{{item.reference}}"> Click here</a> </div>
                  </div>
                </div>
      
                {% comment %} mobile view  starts {% endcomment %}
                <div class="xl:hidden w-full">
                  <div
                    class="bg-white p-3 h-auto shadow-md border-gray-50 border-[0.5px]"
                  >
                    <div class="flex justify-between items-center">
                      <h1 class="text-xl font-bold">
                        {{forloop.counter}}. {{item.product_name}}
                      </h1>
                    </div>
                    <div class="flex justify-between mt-4 gap-4">
                      <div class="text-start">
                        <p class="text-gray-500">Name of Developers</p>
                        <h1>{{item.name_of_developers}}</h1>
                      </div>
                      <div class="text-end">
                        <p class="text-gray-500">Year</p>
                        <h1>{{item.year}}</h1>
                      </div>
                    </div>
                    <div class="flex justify-between mt-4 gap-4">
                      <div class="text-start">
                        <p class="text-gray-500">Reference</p>
                        <a href="{{item.reference}}">Click Here</a>
                      </div>
                      <div class="text-end">
                        <p class="text-gray-600">Status</p>
                        <h1
                          class="{% if item.status == 'completed' %} text-green-400{% else %}text-blue-500 {% endif %}"
                        >
                          {{item.status}}
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
                {% comment %} mobile view Ends {% endcomment %}
      
                {% endfor %}
              </div>
            </div>
          </div>
          </div>
  </div>
</section>
{% endblock body %}