<aside class="p-8 shadow-2xl rounded-2xl md:flex hidden space-y-11 flex-col" >
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-circle-info"></i><span>About</span>
    </a>
     <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-user"></i><span>Faculty & Staff</span>
    </a>
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-book"></i><span>Syllabus & Notes</span>
    </a>
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-users-gear"></i><span>Professional Bodies</span>
    </a>
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-users-line"></i><span>Associations</span>
    </a>
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-bookmark"></i><span>Research & Consultancy</span>
    </a>
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-microscope"></i><span>Laboratories</span>
    </a>
   
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-medal"></i><span>Achievements</span>
    </a>
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-calendar-days"></i><span>Events</span>
    </a>
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-newspaper"></i><span>Newsletters & Magazines</span>
    </a>
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-newspaper"></i><span>Gallery </span>
    </a>
    <a href="http://" class="space-x-11 text-gray-600 text-xl">
        <i class="fa-solid fa-address-card"></i><span> Contact</span>
    </a>
    

</aside>