<aside class="p-8 shadow-2xl rounded-2xl flex space-y-1 mt-4 flex-col lg:w-[380px] font-medium w-full bg-white">
    <div class="bg-[#F9F9F9] p-3 rounded-[16px] group  flex items-center justify-start pl-9 lg:hidden text-center"
        id="sidebar-header">
        <div class="space-x-6 text-gray-600 group-hover:text-[#007FFF]   items-center flex  mx-auto">
            {%ifequal 'about' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">info</i><span>About </span>
            {%endifequal%}

            {%ifequal 'faculty' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_1</i><span>People</span>
            {%endifequal%}


            {%ifequal 'curriculum_and_syllabus' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">book</i><span>Curriculum &
                Syllabus</span>
            {%endifequal%}

            {%if dep == "BSH" %}

            {% else %}

            {%ifequal 'DAB' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_2</i><span>DAB</span>
            {%endifequal%}

            {%ifequal 'PAC' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_2</i><span>PAC</span>
            {%endifequal%}



            {%ifequal 'StreamCommittee' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_2</i><span>Stream
                Committees</span>
            {%endifequal%}
            {% endif %}

            {%ifequal 'innovative_tlm' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_2</i><span>Innovative
                TLM</span>
            {%endifequal%}


            {%if dep == "BSH" %}

            {% else %}

            {%ifequal 'professionalBodies' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_2</i><span>Professional
                Bodies</span>
            {%endifequal%}

            {%ifequal 'associations' route%}
            <i class="material-icons"
                lass="text-gray group-hover:text-[#007FFF]">diversity_3</i><span>Associations</span>
            {%endifequal%}

            {%endif%}

            {%ifequal 'research' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">rocket_launch</i><span>Research &
                Consultancy</span>
            {%endifequal%}

            {%ifequal 'labs' route%}
            <i class="material-icons"
                lass="text-gray group-hover:text-[#007FFF]">rocket_launch</i><span>Laboratories</span>
            {%endifequal%}

            {%ifequal 'achievements' route%}
            <i class="material-icons"
                class="text-gray group-hover:text-[#007FFF]">military_tech</i><span>Achievements</span>
            {%endifequal%}
        </div>
    </div>
    <div class="w-full flex items-center justify-center lg:hidden">
        <span class="material-symbols-outlined text-4xl hover:text-[#007FFF]" id="icon-sidebar-expand">
            expand_more
        </span>
    </div>
    <div class="space-y-4 lg:block hidden" id="sidebar-content">
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group {%if 'about' in route%}border-[#007FFF] border-2{%endif%} flex items-center justify-start pl-9">
            <a href="{% url 'Department' dep 'about' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="group-hover:text-[#007FFF]">info</i><span>About </span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{%if 'faculty' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'faculty' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_1</i><span>People</span>
            </a>
        </div>

        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'syllabus' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'curriculum_and_syllabus' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">book</i><span>Curriculum &
                    Syllabus</span>
            </a>
        </div>
        {% if dep != 'BSH' %}
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'DAB' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'DAB' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_1</i><span>DAB</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'PAC' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'PAC' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_1</i><span>PAC</span>
            </a>
        </div>

        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'StreamCommittee' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'StreamCommittee' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_1</i><span>Stream
                    Committees</span>
            </a>
        </div>

        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'innovative_tlm' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'innovative_tlm' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">rocket_launch</i><span>Innovative
                    TLM</span>
            </a>
        </div>

        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'professionalBodies' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'professionalBodies' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_2</i><span>Professional
                    Bodies</span>
            </a>
        </div>

        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'associations' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'associations' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    lass="text-gray group-hover:text-[#007FFF]">diversity_3</i><span>Associations</span>
            </a>
        </div>
        {%endif%}
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'research' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'research' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">rocket_launch</i><span>Research &
                    Consultancy</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'labs' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'labs' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    class="text-gray group-hover:text-[#007FFF]">biotech</i><span>Laboratories</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'achievements' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'achievements' %}?year=ALL&type=faculty"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    class="text-gray group-hover:text-[#007FFF]">military_tech</i><span>Achievements</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{%if 'events' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'events' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    lass="text-gray group-hover:text-[#007FFF]">local_activity</i><span>Events</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{% if 'activity_point' in route %} border-[#007FFF] border-2{% endif%} j ustify-start pl-9">
            <a href="{% url 'Department' dep 'activity_point' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF] items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">local_activity</i><span>Activity
                    Points</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{% if 'mooc_courses' in route %} border-[#007FFF] border-2{% endif%} j ustify-start pl-9">
            <a href="{% url 'Department' dep 'mooc_courses' %}?year=ALL&type=student"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF] items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">language</i><span>MOOC
                    Courses</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{% if 'social_activities' in route %} border-[#007FFF] border-2{% endif%} j ustify-start pl-9">
            <a href="{% url 'Department' dep 'social_activities' %}?year=ALL"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF] items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">local_activity</i><span>Social
                    Activities</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{% if 'placements' in route %} border-[#007FFF] border-2{% endif%} j ustify-start pl-9">
            <a href="{% url 'Department' dep 'placements' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF] items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">school</i><span>Placements /
                    Higher Studies</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{% if 'holistics' in route %} border-[#007FFF] border-2{% endif%} j ustify-start pl-9">
            <a href="{% url 'Department' dep 'holistics' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF] items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">spa</i><span>Holistic
                    Events</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{% if 'products' in route %} border-[#007FFF] border-2{% endif%} j ustify-start pl-9">
            <a href="{% url 'Department' dep 'products' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF] items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">build</i><span>Products
                    Developed</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{%if 'e-content' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'e-content' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    lass="text-gray group-hover:text-[#007FFF]">local_activity</i><span>E-Content</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{%if 'e-content' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'fdps' %}?year=ALL&type=attended#content"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    lass="text-gray group-hover:text-[#007FFF]">local_activity</i><span>FDPS</span>
            </a>
        </div>
        {% if dep != 'BSH' %}
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'newsletters' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Department' dep 'newsletters' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">newspaper</i><span>Newsletters &
                    Magazines</span>
            </a>
        </div>
        {% endif %}
        <div class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center justify-start pl-9">
            <a href="#gallery" class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <span class="material-symbols-outlined"> gallery_thumbnail </span><span>Gallery</span>
            </a>
        </div>
        <div class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center justify-start pl-9">
            <a href="#contact-us" class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">contacts</i><span>Contact</span>
            </a>
        </div>
        
    </div>
</aside>
{% block script %}
<script>
    $('#icon-sidebar-expand').click(
        function () {
            $('#sidebar-header').toggleClass('hidden');
            $('#sidebar-content').toggleClass('hidden');
            $("#icon-sidebar-expand").toggleClass("rotate-180");
        }
    )

</script>

{% endblock script %}