{% extends 'base.html' %} {% load static %} {% block title %} Social Activities
{% endblock title %} {% block head %} {% endblock head %} {% block body %}
{%include 'Departments/Hero.html' %}

<section class="md:px-24 pt-24 px-6" id="content">
  <h3 class="text-5xl font-semibold text-center mt-11 w-full">Social Activities</h3>

  <div class="flex gap-10 md:flex-row flex-col">
    <div class="col-span-1">
      <h2 class="font-semibold text-2xl px-4">Departments</h2>
      <p class="px-4 text-gray-400">Home / Academics / Department / Events</p>
      {% include 'Departments/Sidebar.html' %}
    </div>
    <div class="col-span-2 gap-10 space-y-16 mt-11 pt-6 w-full">
        <div>
          <ul class="flex items-center gap-2 text-sm font-medium">
            <li class="flex-1">
              <a href="{% url 'Department' dep 'social_activities' %}?year=ALL#content"
                class="relative flex items-center justify-center gap-2 rounded-lg {% ifequal year 'ALL' %} bg-blue-500 border-blue-500 text-gray-700 {% endifequal %} border-solid border-2 border-blue-300 px-3 py-2 text-gray-500 hover:text-gray-700">
                ALL</a>
            </li>
            {% for yr in allYears %}
            <li class="flex-1">
              <a href="{% url 'Department' dep 'social_activities' %}?year={{yr}}#content"
                class="relative flex items-center justify-center gap-2 rounded-lg {% ifequal year yr %} bg-blue-500 border-blue-500 text-gray-700 {% endifequal %} border-solid border-2 border-blue-300 px-3 py-2 text-gray-500 hover:text-gray-700">
                {{yr}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      

    <div class="gap-10 flex flex-wrap  mt-11 pt-6 items-start justify-start">
      {% for event in all_events %}
      <div class="w-[350px] group" >
        <div class="h-[400px] w-full overflow-clip rounded-xl">
        <img src="{{event.image.url}}" alt="{{event.image.name}}" class="w-full h-full object-cover group-hover:scale-110 transition-all duration-500">
        </div>
        <div class="space-y-6 mt-5">
          <p class="text-xs">{{event.date}}</p>
            <h3 class="font-bold text-3xl">{{event.title}}</h3>
            <p>{{event.data}}</p>
        </div>
      </div>
 
      {% endfor %}
     </div>
  </div>
</section>
<section class="md:px-24 px-7 mt-11">
  <div class="flex md:flex-row flex-col gap-10">
    <div>
      {% with dep_updates as side_updates %}{% include 'Departments/Updates.html' %}{% endwith %}
    </div>
    <div class="w-full space-y-6 mt-11 md:mt-0">
      
    </div>
  </div>
</section>

{% include 'components/gallery.html' %}  {% include 'Departments/Contact.html' %}
{% endblock body %} {% block script %}
<script></script>
{% endblock script %}
