<div class="updates p-6 shadow-2xl bg-white rounded-2xl mt-11">
    <h1 class="text-center text-3xl mb-11 font-semibold">Updates</h1>
    <div class="items space-y-8">


        <div class="item flex space-x-4 h-full">
            <i
                class="fa-solid fa-bell text-xl border-blue-400 border-2 h-[40px] min-w-[40px] text-center shadow-xl rounded-full"></i>
            <div class="update_comtent flex">
                <div class="bar w-[5px] bg-blue-500 mx-3"></div>
                <div>

                    <h2 class="font-bold">Opportunities in TCS EIS:
                    </h2>
                    <p class="text-sm"> A webinar on 9th June for NON-CSE students to know more about the Engineering
                        and
                        Industrial
                        Services division of TCS. Read More
                    </p>
                </div>
            </div>
        </div>

  

        <div class="item flex space-x-4 h-full">
            <i
                class="fa-solid fa-bell text-xl border-blue-400 border-2 h-[40px] min-w-[40px] text-center shadow-xl rounded-full"></i>
            <div class="update_comtent flex">
                <div class="bar w-[5px] bg-blue-500 mx-3"></div>
                <div>

                    <h2 class="font-bold">All students who have received offer letters are requested share a copy to tnp@cce.edu.in
                    </h2>
                   
                </div>
            </div>
        </div>

        <div class="item flex space-x-4 h-full">
            <i
                class="fa-solid fa-bell text-xl border-blue-400 border-2 h-[40px] min-w-[40px] text-center shadow-xl rounded-full"></i>
            <div class="update_comtent flex">
                <div class="bar w-[5px] bg-blue-500 mx-3"></div>
                <div>

                    <h2 class="font-bold">Online programming training for S6 students from 27-4-21 onwards.
                    </h2>
                    
                </div>
            </div>
        </div>





    </div>

</div>