Django==3.2.17
django-browser-reload==1.5.0
Pillow==9.3.0
whitenoise==6.2.0
boto3==1.18.49
django-storages==1.13.1
psycopg2-binary
psycopg2
django-jazzmin==2.6.0
django-environ==0.9.0
python-dotenv
uuid
django-htmlmin==0.11.0
django-tailwind
