# Django Core
Django==3.2.25

# Production Web Server
gunicorn

# Database Connector
psycopg2-binary

# Static & Media Files
whitenoise==6.2.0
Pillow==10.3.0
boto3==1.18.49
django-storages==1.13.1

# Admin and Utilities
django-jazzmin==2.6.0
django-environ==0.9.0
python-dotenv
django-htmlmin==0.11.0
django-tailwind

# Google APIs
google-api-python-client
google-auth-httplib2
google-auth-oauthlib