{% extends 'base.html' %} {% load static %} {% block title %} Arts {% endblock title %} {% block head %}
<link href="{% static 'css/arts.css' %}" rel="stylesheet" />
<link href="../static/css/carousel.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
{% comment %}
<script defer src="{% static '/js/carousel.js' %}"></script>
{% endcomment %} {% endblock head %} {% block body %}
<main class="text-sm">
  {% include 'components/Hero_section.html' %}
  <div id="content" class="about py-4 pt-10 px-4">
    <h2 class="text-center text-4xl font-poppins font-semibold pt-6 pb-12">
      About
    </h2>
    <p class="text-center text-sm md:text-xl font-poppins md:px-16">
      Christ College Of Engineering provides a wide range of opportunities to
      its students in the form of Arts and other activities. Making sure that
      the students are not only mentally fit but also physically fit, has been a
      major priority set since the beginning.
    </p>
  </div>
  <div class="overall lg:flex py-4 lg:px-[150px] mb-12 px-4">
    {% with arts_updates as side_updates %} {% include 'Departments/Updates.html'%} {% endwith %}
    <div
      class="carousel ml-auto mr-auto pl-0 pr-0 w-[300px] md:w-[700px] lg:py-[100px] md:px-[100px]"
    ></div>
  </div>

  <section class="my-11 relative">
    <h1 class="text-center text-6xl font-bold pt-[10px] pb-8 overflow-hidden">
      Events
    </h1>
    <div class="swiper3 relative">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for event in events %}
        <div class="swiper-slide">
          <div
            class="flex flex-col lg:flex-row md:text-left md:px-[150px] justify-center"
          >
            <div class="img-event">
              <img
                class="w-7/8 md:max-w-[400px] min-h-[400px] ml-auto mr-auto p-4"
                src="{{event.image.url}}"
              />
            </div>
            <div class="px-4">
              <h1 class="text-center lg:text-left text-4xl py-2 font-semibold">
                {{event.title}}
              </h1>
              <h2 class="text-center lg:text-left text-2xl py-2 font-medium">
                {{event.sub_title}}
              </h2>

              <h2 class="text-justify lg:text-left text-lg py-2">
                {{event.description|safe}}
              </h2>
              <p class="text-blue-500">{{event.date|date:"d M Y"}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <div class="cards-overall my-4 mt-8">
    {% for team in teams %}
    <div class="flip-card-container">
      <div class="flip-card">
        <div class="card-front">
          <div class="h-full relative">
            <div
              class="border-[12px] border-[{{team.color}}] bg-[{{team.color}}] rounded-3xl h-full shadow-2xl"
            >
              <img src="{{team.image.url}}" class="w-full h-full relative" />
            </div>
            <div class="absolute top-0 left-0">
              <div class="flex justify-between">
                <div
                  class="bg-[{{team.color}}] pt-3 pl-3 pr-1 pb-1 rounded-lg w-full"
                >
                  <p class="text-white text-3xl p-1 font-semibold capitalize">
                    {{team.teamname}}
                  </p>
                </div>
              </div>
            </div>
            <div class="absolute bottom-5 left-5">
              <div class="flex justify-between">
                <div class=" h-[80px]  bg-[{{team.color}}] rounded-xl px-4 ">
                  <p class="text-white text-lg pl-2 pt-1 pb-0">Score</p>
                  <p class="text-white font-bold text-3xl pl-6 pr-6 pb-2 pt-0">
                    {{team.score}}
                  </p>
                </div>
              </div>
            </div>
            <div
              class="absolute bottom-0 right-1 flex bg-[{{team.color}}] rounded-lg px-2"
            >
              <div>
                <div
                  class="bg-white justify-center items-center rounded-lg px-2 m-3 h-[44px] mb-0"
                >
                  <p
                    class="text-[{{team.color}}] font-bold text-3xl text-center pt-1"
                  >
                    {{team.lost}}
                  </p>
                </div>
                <p class="text-white text-md text-center mb-4 font-medium">
                  Lost
                </p>
              </div>
              <div>
                <div
                  class="bg-white justify-center items-center rounded-lg px-2 m-3 h-[44px] mb-0"
                >
                  <p
                    class="text-[{{team.color}}] text-3xl font-bold text-center pt-1 "
                  >
                    {{team.won}}
                  </p>
                </div>
                <p class="text-white text-md text-center mb-4 font-medium">
                  Won
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-back bg-[{{team.color}}] flex-col">
          <h1 class="text-center text-3xl font-black py-4 uppercase">
            {{team.teamname}}
          </h1>
          <img src="{{team.logo.url}}" class="w-full" />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% include 'components/gallery.html' %}
</main>
{% endblock %} {% block script %}

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper(".swiper3", {
    speed: 400,
    spaceBetween: 100,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    slidesPerView: 1,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>

<script>
  "use strict";

  class Carousel {
    constructor(el) {
      this.el = el;
      this.carouselOptions = ["previous", "add", "play", "next"];
      this.carouselData = [
      {
        'id': 'Pegasus',
        'src': '../static/images/Arts/pegasus.jpg',
      },
      {
        'id': 'Lupus',
        'src': '../static/images/Arts/lupus.webp',
      },
      {
        'id': 'Cetus',
        'src': '../static/images/Arts/Cetus-logo.png',
      },
      {
        'id': 'Taurus',
        'src': '../static/images/Arts/taurus.png',
      },
      ];
      this.carouselInView = [1, 2, 3, 4];
      this.carouselContainer;
      this.carouselPlayState;
    }

    mounted() {
      this.setupCarousel();
    }

    // Build carousel html
    setupCarousel() {
      const array = ["LUPUS", "CETUS", "pegasus", "Taurus"];
      const container = document.createElement("div");
      const controls = document.createElement("div");

      // Add container for carousel items and controls
      this.el.append(container, controls);
      container.className = "carousel-container";
      controls.className = "carousel-controls";

      // Take dataset array and append items to container
      this.carouselData.forEach((item, index) => {
        const carouselItem = item.src
          ? document.createElement("img")
          : document.createElement("div");

        container.append(carouselItem);

        // Add item attributes
        carouselItem.className = `carousel-item carousel-item-${index + 1}`;
        carouselItem.src = item.src;
        carouselItem.setAttribute("loading", "lazy");
        // Used to keep track of carousel items, infinite items possible in carousel however min 5 items required
        carouselItem.setAttribute("data-index", `${index + 1}`);
      });

      this.carouselOptions.forEach((option) => {
        const btn = document.createElement("button");
        const axSpan = document.createElement("span");

        // Add accessibilty spans to button
        axSpan.innerText = option;
        axSpan.className = "ax-hidden";
        btn.append(axSpan);

        // Add button attributes
        btn.className = `carousel-control carousel-control-${option}`;
        btn.setAttribute("data-name", option);

        // Add carousel control options
        controls.append(btn);
      });

      // After rendering carousel to our DOM, setup carousel controls' event listeners
      this.setControls([...controls.children]);

      // Set container property
      this.carouselContainer = container;
    }

    setControls(controls) {
      controls.forEach((control) => {
        control.onclick = (event) => {
          event.preventDefault();

          // Manage control actions, update our carousel data first then with a callback update our DOM
          this.controlManager(control.dataset.name);
        };
      });
    }

    controlManager(control) {
      if (control === "previous") return this.previous();
      if (control === "next") return this.next();
      if (control === "play") return this.play();

      return;
    }
    next() {
      // Update order of items in data array to be shown in carousel
      this.carouselData.push(this.carouselData.shift());

      // Take the last item and add it to the beginning of the array so that the next item is front and center
      this.carouselInView.unshift(this.carouselInView.pop());

      // Update the css class for each carousel item in view
      this.carouselInView.forEach((item, index) => {
        this.carouselContainer.children[
          index
        ].className = `carousel-item carousel-item-${item}`;
      });

      // Using the first 5 items in data array update content of carousel items in view
      this.carouselData.slice(0, 5).forEach((data, index) => {
        document.querySelector(`.carousel-item-${index + 1}`).src = data.src;
      });
    }

    previous() {
      // Update order of items in data array to be shown in carousel
      this.carouselData.unshift(this.carouselData.pop());

      // Push the first item to the end of the array so that the previous item is front and center
      this.carouselInView.push(this.carouselInView.shift());

      // Update the css class for each carousel item in view
      this.carouselInView.forEach((item, index) => {
        this.carouselContainer.children[
          index
        ].className = `carousel-item carousel-item-${item}`;
      });

      // Using the first 5 items in data array update content of carousel items in view
      this.carouselData.slice(0, 5).forEach((data, index) => {
        document.querySelector(`.carousel-item-${index + 1}`).src = data.src;
      });
    }

    play() {
      const playBtn = document.querySelector(".carousel-control-play");
      const startPlaying = () => this.next();

      if (playBtn.classList.contains("playing")) {
        // Remove class to return to play button state/appearance
        playBtn.classList.remove("playing");

        // Remove setInterval
        clearInterval(this.carouselPlayState);
        this.carouselPlayState = null;
      } else {
        // Add class to change to pause button state/appearance
        playBtn.classList.add("playing");

        // First run initial next method
        this.next();

        // Use play state prop to store interval ID and run next method on a 1.5 second interval
        this.carouselPlayState = setInterval(startPlaying, 1500);
      }
    }
  }

  // Refers to the carousel root element you want to target, use specific class selectors if using multiple carousels
  const el = document.querySelector(".carousel");
  // Create a new carousel object
  const exampleCarousel = new Carousel(el);
  // Setup carousel and methods

  exampleCarousel.mounted();
  exampleCarousel.play();
</script>
{% endblock script %}
