{% extends 'base.html' %} {% load static %} {% block title %} Central Library {% endblock title %} {% block head %}

{% endblock head %}
{% block body %}
{% include 'components/Hero_section.html' %}
<section class="md:px-24  pt-24 px-6" id="content">
    <div class="flex gap-10 lg:flex-row flex-col">
    <div class="col-span-1 flex justify-center items-center flex-col">
      <h2 class="font-semibold text-2xl px-4">Library</h2>
      
      {% include 'StudentServices/sidebar.html' %}
    </div>
    <div class="col-span-2 gap-10 space-y-16 mt-11 w-full">
      <div
        class="bg-[#D9FFA8] flex flex-col lg:flex-row justify-center md:items-center space-y-4 z-[-2] md:space-y-0 p-11 lg:space-x-6 md:items-start rounded-xl relative">
        <div
          class="lg:bg-[#8BC53F] p-4 py-6 flex items-center justify-center text-gray rounded-[12px] lg:w-auto lg:h-auto w-full h-full lg:relative absolute inset-0">
          <span
            class="material-symbols-outlined text-gray-400 lg:text-white lg:text-[50px] text-[200px] lg:z-0 z-[-1]  opacity-[0.8] lg:opacity-[1]">
            assistant_navigation
          </span>
        </div>
        <div>
          <h3 class="text-2xl font-bold">Vision</h3>
          <p>{{vision.data}}</p>
        </div>
      </div>
      <div
        class="bg-[#D4F2FF] flex flex-col lg:flex-row justify-center md:items-center space-y-4 z-[-2] md:space-y-0 p-11 lg:space-x-6 md:items-start rounded-xl relative">
        <div
          class="lg:bg-[#28AAE1] p-4 py-6 flex items-center justify-center text-gray rounded-[12px] lg:w-auto lg:h-auto w-full h-full lg:relative absolute inset-0">
          <span
            class="material-symbols-outlined text-gray-400 lg:text-white lg:text-[50px] text-[200px] lg:z-0 z-[-1]  opacity-[0.8] lg:opacity-[1]">


            thunderstorm

          </span>
        </div>
        <div>
          <h3 class="text-2xl font-bold">Mission</h3>
          <p>{{mission.data}}</p>
        </div>
      </div>
      <div><h3 class="text-3xl font-semibold text-left mt-11">About Central Library</h3>
        <p class=" text-sm mt-4 text-justify mb-11">{{about.about}}</p></div>
      
    </div>
  </div>

</section>



{% include 'components/gallery.html' %}



{% endblock body %}











