<section class="home_section relative h-[100vh] overflow-clip ">
    <div class="w-[100vw] h-[100vh] -z-1  ">
        <img src="{{association.hero_image.url}}" class= "w-full h-full object-cover object-center absolute" />
    </div>
    <div class="absolute top-0 left-0 w-[100vw] md:h-[100vh] h-[100vh] bg-[#11111d8c] img-overlay"></div>
    <div class="absolute  inset-0  flex flex-col justify-center items-center space-y-6 ">
      <div class="w-[180px] h-[180px]">
  
        <img src="{{association.image.url}}" alt="cce_Logo" class="w-full h-full">
      </div>
        <h1 class="text-3xl font-black text-white md:text-5xl uppercase text-center">{{association.title}}</h1>
    </div>
    <a href="#content" class="flex w-full justify-center animate-bounce z-[50]  absolute bottom-24" id="down-icon">
  
      <img src="{%  static  'images/chevrons-down.svg'  %}" alt="chevrons-down" class="" />
    </a>
  
  </section>

  <section class="xl:px-24 px-6  my-11 lg:mx-24  ">
    <div class="flex md:flex-row flex-col items-center  gap-10 lg:w-[80%] mx-auto">
      <div>

        <h2 class="text-2xl md:text-3xl font-bold my-4">About</h2>
        <p class="text-gray-700 ">{{association.data}}</p>
      </div>
      <h3 class="text-3xl font-semibold text-center my-11">PTA Executive Committee</h3>
      <table class="w-[90%] mx-auto hidden md:table">
        <thead class="w-full p-4 bg-[#28a9e1] h-[50px] sticky top-[12vh]">

            <tr class="p-4">
                <th>SI.No</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Phone No</th>
                
            </tr>

        </thead>
        <tbody class="w-full text-center ">
            {% for item in PTA_executive_commitee%}
            <tr class="odd:bg-gray-300 h-[50px]">
                <td >{{forloop.counter}}</td>
                <td >{{item.name}}</td>
                <td >{{item.designation}}</td>
                <td >{{item.phone}}</td>
                
            </tr>
            {% endfor %}
        </tbody>

    </table>

      <div>
        <div class="md:w-[330px] md:h-[330px] h-[280px] w-[280px]">
          
          <img src="{{association.image.url}}" alt="cce_Logo" class="w-full h-full ">
        </div>
      </div>
    </div>
    <section class="md:px-24 pt-24 px-6" id="content">
        <h3 class="text-5xl font-semibold text-center mt-11 w-full">Events</h3>
      
        <div class="flex gap-10 md:flex-row flex-col">
          <div class="col-span-1">
            <h2 class="font-semibold text-2xl px-4">Departments</h2>
            <p class="px-4 text-gray-400">Home / Academics / Department / Events</p>
            {% include 'Departments/Sidebar.html' %}
          </div>
          <div class="col-span-2 gap-10 space-y-16 mt-11 pt-6 ">
      
            <!-- component -->
              <div>
                <ul class="flex items-center gap-2 text-sm font-medium">
                  <li class="flex-1">
                    <a href="{% url 'Department' dep 'events' %}?year=ALL#content"
                      class="relative flex items-center justify-center gap-2 rounded-lg {% ifequal year 'ALL' %} bg-blue-500 border-blue-500 text-gray-700 {% endifequal %} border-solid border-2 border-blue-300 px-3 py-2 text-gray-500 hover:text-gray-700">
                      ALL</a>
                  </li>
                </ul>
              </div>
            
      
          <div class="gap-10 flex flex-wrap  mt-11 pt-6 items-start justify-start">
            <!-- {% if events %} -->
            {% for event in all_events %}
            <div class="w-[350px] group" >
              <div class="h-[400px] w-full overflow-clip rounded-xl">
              <img src="{{event.image.url}}" alt="{{event.image.name}}" class="w-full h-full object-cover group-hover:scale-110 transition-all duration-500">
              </div>
              <div class="space-y-6 mt-5">
                <p class="text-xs">{{event.date}}</p>
                  <h3 class="font-bold text-3xl">{{event.title}}</h3>
                  <p>{{event.data}}</p>
                  
              </div>
            </div>
       
            {% endfor %}
            
            <!-- {% else %}
            <div class="flex w-full my-11 text-center text-blue-400 font-black text-2xl">No Events to show</div>
            
            {% endif %} -->
           </div>
        </div>
      </section>
      <section class="md:px-24 px-7 mt-11">
        <div class="flex md:flex-row flex-col gap-10">
          <div>
            {% with dep_updates as side_updates %}{% include 'Departments/Updates.html' %}{% endwith %}
          </div>
          <div class="w-full space-y-6 mt-11 md:mt-0">
            
          </div>
        </div>
      </section>
      


  </section>