{% extends 'base.html' %} {% load static %} {% block title %} Central Library
{% endblock title %} {% block head %}

{% endblock head %}
{% block body %}
{% include 'components/Hero_section.html' %}
<section class="md:px-24  pt-24 px-6" id="content">
    <div class="flex gap-10 lg:flex-row flex-col">
        <div class="col-span-1 flex justify-center items-center flex-col">
            <h2 class="font-semibold text-2xl px-4">Library</h2>

            {% include 'StudentServices/sidebar.html' %}
        </div>
        <div class="col-span-2 gap-10 space-y-16 mt-11 w-full">
            <section class="md:px-20 w-full text-left">
                <h1 class="text-4xl my-11 font-bold">
                    Library Info
                </h1>

            </section>

            <div class="w-full px-20 md:block hidden">
                <table class="w-full top-[100px] sticky ">

                    <tbody class>
                        {% for item in data %}
                        <tr
                            class="grid grid-cols-2 text-center items-center  odd:bg-[#f5f5f5] min-h-[40px] my-2 ">
                            <td>{{item.type}}</td>
                            <td>{{item.value}}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>

{% endblock body %}
