{% extends 'base.html' %} {% load static %} {% block title %} Central Library
{% endblock title %} {% block head %}

{% endblock head %}
{% block body %}
{% include 'components/Hero_section.html' %}
<section class="md:px-24  pt-24 px-6" id="content">
  <div class="flex gap-10 lg:flex-row flex-col">
    <div class="col-span-1 flex justify-start items-center flex-col">
      <h2 class="font-semibold text-2xl px-4">Library</h2>

      {% include 'StudentServices/sidebar.html' %}
    </div>
    <div class="col-span-2 gap-10 mt-11 w-full">

      <div>
        <h3 class="text-3xl font-semibold text-left ">Newsletters and Magazines</h3>
        <div class="w-full gap-10 mt-11 flex flex-wrap">

          {% for item in college_data %}
          <div class="w-[350px] bg-gray-50 border border-gray-300 rounded-xl shadow-lg overflow-hidden">
            <a href="{{item.file.url}}" target="_blank" class="overflow-hidden">
              <img class="rounded-t-lg h-[350px] w-full object-cover transition hover:scale-105" src="{{item.image.url}}"
                alt="{{item.image.name}}">
            </a>
            <div class="p-5">
              <h5 class="mb-2 text-base font-semibold tracking-normal text-gray-700">{{item.title}}</h5>
            </div>
          </div>
          {% endfor %}

          {% for item in data %}
          <div class="w-[350px] bg-gray-50 border border-gray-300 rounded-xl shadow-lg overflow-hidden">
            <a href="{{item.file.url}}" target="_blank" class="overflow-hidden">
              <img class="rounded-t-lg h-[350px] w-full object-cover transition hover:scale-105" src="{{item.image.url}}"
                alt="{{item.image.name}}">
            </a>
            <div class="p-5">
              <h5 class="mb-2 text-base font-semibold tracking-normal text-gray-700">{{item.title}}</h5>
            </div>
          </div>
          {% endfor %}

          {% for item in data1 %}
          <div class="w-[350px] bg-gray-50 border border-gray-300 rounded-xl shadow-lg overflow-hidden">
            <a href="{{item.file.url}}" target="_blank" class="overflow-hidden">
              <img class="rounded-t-lg h-[350px] w-full object-cover transition hover:scale-105" src="{{item.image.url}}"
                alt="{{item.image.name}}">
            </a>
            <div class="p-5">
              <h5 class="mb-2 text-base font-semibold tracking-normal text-gray-700">{{item.title}}</h5>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

</section>


{% endblock body %}