{% extends 'base.html' %} {% load static %} {% block title %} NSS
{%endblock title %} {% block head %}
<link href="{% static 'css/arts.css' %}" rel="stylesheet" />
<link href="../static/css/carousel.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script defer src="{% static '/js/carousel.js' %}"></script> {% endblock head %} {% block body %}
<main>
  {% include 'components/Hero_section.html' %}
  <section class="md:px-24 pt-24 px-6 py-4" id="content">
    <h3 class="text-4xl font-semibold text-center mt-11">About</h3>
    <div class="w-full flex flex-row justify-center items-center">
      <img src="{{about.image.url}}" alt="ProfessionalBodyImg" class="max-w-[300px] pt-6 pr-6">
      <p class="my-2 pl-8 text-gray-700 text-justify">{{about}}</p>
    </div>
  </section>

  <section class="my-8 relative">
    <h1 class="text-center text-4xl font-bold pt-[10px] pb-8 overflow-hidden">
      Events
    </h1>
    <div class="swiper3 relative">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for event in events %}
        <div class="swiper-slide">
          <div
            class="flex flex-col lg:flex-row md:text-left md:px-[150px] justify-center"
          >
            <div class="img-event">
              <img
                class="w-7/8 md:max-w-[400px] min-h-[400px] ml-auto mr-auto p-4"
                src="{{event.image.url}}"
              />
            </div>
            <div class="px-4">
              <h1 class="text-center lg:text-left text-4xl py-2 font-semibold">
                {{event.title}}
              </h1>
              <h2 class="text-center lg:text-left text-2xl py-2 font-medium">
                {{event.sub_title}}
              </h2>

              <h2 class="text-justify lg:text-left text-lg py-2">
                {{event.description|safe}}
              </h2>
              <p class="text-blue-500">{{event.date|date:"d M Y"}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section>
    <div class="w-full space-y-16 mt-11">
      <div class="w-full flex flex-col justify-center items-center">
        <h1 class="text-4xl my-11 font-bold">Team Members</h1>

        <div
          class="flex flex-wrap lg:gap-16 md:gap-10 gap-6 justify-center pb-8 items-center">
          {% for item in students %}
          <div
            class="bg-white shadow-md px-4 py-1 group rounded-xl w-[350px] flex flex-col items-center">
            <div class="overflow-clip h-[280px] rounded-xl">
              <img src="{{ item.image.url }}" alt="hero_img"
                class="h-[350px] w-full bg-gray-300 group-hover:scale-110 transition-all duration-500 ease-in-out" />
            </div>
            <div class="space-y-1 mt-1 text-center">
              <h1 class="text-xl font-bold">{{ item.name }}</h1>
              <p class="text-xs text-gray-500">{{item.year}}</p>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% include 'components/gallery.html' %}

</main>

{% endblock %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper(".swiper3", {
    speed: 400,
    spaceBetween: 100,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    slidesPerView: 1,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>

{% endblock script %}
