<aside class="p-8 shadow-2xl rounded-2xl flex space-y-1 mt-4 flex-col lg:w-[380px] font-medium w-full bg-white mb-11">
    <div class="bg-[#F9F9F9] p-3 rounded-[16px] group  flex items-center justify-start pl-9 lg:hidden text-center"
        id="sidebar-header">
        <div class="space-x-6 text-gray-600 group-hover:text-[#007FFF]   items-center flex  mx-auto">
            {%ifequal 'central_library' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">info</i><span>About </span>
            {%endifequal%}

            {%ifequal 'faculty_and_staff' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">diversity_1</i><span>Faculty & Staff</span>
            {%endifequal%}

            {%ifequal 'library_handbook' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">book</i><span>Library Handbook</span>
            {%endifequal%}

            {%ifequal 'library_info' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">diversity_2</i><span>Library Info</span>
            {%endifequal%}

            {%ifequal 'rules_and_regulations' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">diversity_3</i><span>Rules & Regulations</span>
            {%endifequal%}
            
            {%ifequal 'library_resources' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">library_books</i><span>IEEE Journals</span>
            {%endifequal%}
            
            {%ifequal 'digital_library' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">devices</i><span>Digital Library</span>
            {%endifequal%}
            
            <!-- {%ifequal '' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">help</i><span>Ask a Librarian</span>
            {%endifequal%} -->
            
            {%ifequal '' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">checklist</i><span>Online Library Feedback Form</span>
            {%endifequal%}
            
            {%ifequal '' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">newspaper</i><span>Newsletters & Magazines</span>
            {%endifequal%}
            
        </div>
    </div>
    <div class="w-full flex items-center justify-center lg:hidden">
        <span class="material-symbols-outlined text-4xl hover:text-[#007FFF]" id="icon-sidebar-expand">
            expand_more
        </span>
    </div>
    <div class="space-y-4 lg:block hidden" id="sidebar-content">
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group {%if 'central_library' in route%}border-[#007FFF] border-2{%endif%} flex items-center justify-start pl-9">
            <a href="{% url 'Central_Library' 'central_library' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="group-hover:text-[#007FFF]">info</i><span>About </span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{%if 'faculty_and_staff' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Central_Library' 'faculty_and_staff' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="text-gray group-hover:text-[#007FFF]">diversity_1</i><span>Faculty & Staff</span>
            </a>
        </div>
        

        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'library_info' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Central_Library' 'library_info' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="text-gray group-hover:text-[#007FFF]">diversity_2</i><span>Library Info</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'rules_and_regulations' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Central_Library' 'rules_and_regulations' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    class="text-gray group-hover:text-[#007FFF]">diversity_3</i><span>Rules & Regulations</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'ieee_journals' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Central_Library' 'ieee_journals' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="text-gray group-hover:text-[#007FFF]">library_books</i><span>IEEE Journals</span>
            </a>
        </div> 
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'digital_library' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Central_Library' 'digital_library' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    class="text-gray group-hover:text-[#007FFF]">devices</i><span>Digital Library</span>
            </a>
        </div>

        <!-- <div class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center  justify-start pl-9">
            <a href="{% url 'Central_Library' 'central_library' %}" class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">help</i><span>Ask a Librarian</span>
            </a>
        </div> -->
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'feedback' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Central_Library' 'central_library' %}"-us" class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">checklist</i><span>Online Library Feedback Form</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'newsletters' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'Central_Library' 'newsletters' %}"-us" class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">newspaper</i><span>Newsletters & Magazines</span>
            </a>
        </div>
        
    </div>
</aside>
{% block script %}
<script>
    $('#icon-sidebar-expand').click(
        function () {
            $('#sidebar-header').toggleClass('hidden');
            $('#sidebar-content').toggleClass('hidden');
            $("#icon-sidebar-expand").toggleClass("rotate-180");
        }
    )

</script>

{% endblock script %}