.bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .bg-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000066;
    display: grid;
    place-items: center;
  }
  
  .bg-CCE {
    letter-spacing: 20px;
    color: rgba(0, 0, 0.1, 0.32);
  }
  
  .Alumini-header-font-arrow {
    position: absolute;
    top: 180px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  
  }
