@font-face {
  font-family: 'Poppins';
  src:url('../fonts/Poppins.ttf.woff') format('woff'),
      url('../fonts/Poppins.ttf.svg#Poppins') format('svg'),
      url('../fonts/Poppins.ttf.eot'),
      url('../fonts/Poppins.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('../fonts/materialsymbolsoutlined.woff2') format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

*{
  font-family: 'Poppins';

}
.cents {
  background-color:  rgba(10, 5, 5, 0.35);
  height: 100vh !important;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 7em;
}


.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}

 
@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}



::-webkit-scrollbar {
  width: 0.6rem;
  display: none;

  background-color: #307ac593;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #007fff;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #205072;
}


.hero--fallback__image{
  background-image: url('../images/home.jpg') !important;
  background-repeat: no-repeat !important;
  background-position: center center;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.executive-committee-wrapper > h1 {
  font-size: 50px;
  font-weight: 600;
}  
.executive-committee-table {
  min-width: 100%;
  text-align: center;
}

.executive-committee-table > thead > tr > th {
  height: 70px;
  color: #000;
  margin: 15px;
  
}

.executive-committee-table > tbody > tr:nth-child(odd) > td {
  /* background-color: #d9d9d9; */
  height: 50px;
  border-radius: 7px;
  margin: 15px;
  margin-left: 0;
}

.executive-committee-table > tbody > tr:nth-child(even) > td {
  background-color: #fafafa;
  height: 50px;
  border-radius: 7px;
  margin: 15px;
  margin-left: 0;

}

.fixed-scroll {
  position: sticky;
  top: 0;
  background-color: white;
}
.fixed-scroll > thead > tr {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}
.fixed-scroll > thead > tr > th {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.executive-committee-table > tbody > tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}
.executive-committee-table > tbody > tr > td {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  


}

.box-shadow {
  box-shadow: -2px 4px 10px #000;
}

@media screen and (min-width:1260px) and (max-width:1560){
  html{
    zoom: 90% !important;
  }
}