

*{
  font-family: 'Poppins';
  
}
.cents {
  background-color:  rgba(10, 5, 5, 0.35);
  height: 100vh !important;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 7em;
}


.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}

 
@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}



::-webkit-scrollbar {
  width: 0.6rem;
  display: none;

  background-color: #307ac593;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #007fff;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #205072;
}





.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
