body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.rd {
  border-radius: 30px !important;
}

.cents {
  background-color: rgb(183, 37, 37);
  height: 100vh !important;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 7em;
}

.active {
  font-size: 16px !important;
  font-weight: 900;
  background-color: #007FFF;
  padding: 10px;
  border-radius: 5px;
}

.fixed-nav {
  position: fixed !important;
  top: 0 !important;
  background: #007FFF;
  transition: top 1s;
}

.search_active {
  display: block !important;
  animation: search-bar-animation 2s linear ease-in;
}

@keyframes search-bar-animation {
  0% {
    width: 0;
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
  }
}





::-webkit-scrollbar {
  width: 0.6rem;
  display: none;

  background-color: #307ac593;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #007fff;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #205072;
}