/* page styles */
.ax-hidden {
  visibility: hidden;
  position: absolute;
}

/* carousel styles */
.carousel {
  --carousel-height: 400px;
  --carousel-width: 1000px;
  --carousel-item-height: 100px;
  --carousel-item-width: 180px;
  width: 50%;
}

.carousel-container {
  align-items: center;
  display: flex;
  min-height: var(--carousel-height);
  margin: 0 0;
  max-width: var(--carousel-width);
  position: relative;
  
}

.carousel-item {
  height: var(--carousel-item-height);
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  width: var(--carousel-item-width);
  z-index: 0;
  border-radius: 15px;
}

.carousel-item-1 {
  left: 50%;
  opacity: 0;
  background-color: red;
}

.carousel-item-2,
.carousel-item-4 {
  height: calc(var(--carousel-item-height) * 1.5);
  opacity: 1;
  width: calc(var(--carousel-item-width) * 1.5);
  z-index: 1;
}

.carousel-item-2 {
  left: 30%;
  background-color: lightgreen;
}

.carousel-item-3 {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  height: calc(var(--carousel-item-height) * 2);
  opacity: 1;
  left: 50%;
  width: calc(var(--carousel-item-width) * 2);
  z-index: 2;
  background-color: lightblue;
}

.carousel-item-4 {
  left: 70%;
  background-color: yellow;
}


.carousel-controls {
  display: none;
  justify-content: center;
  margin: 30px 0;
}

