* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
.department-hero {
  position: relative;
  background-image: url(../images/department.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: top;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.nirf-header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  place-items: center;
  padding: 20px;
  z-index: 9999;
}
.nirf-header-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  color: white;
  grid-column: 2/4;
  text-align: center;
}
.nirf-header-image-container > div > h1 {
  font-size: 3.5rem;
}
.nirf-header-image-container > div > p {
  font-size: 0.9em;
}
.nirf-header-navbar {
  width: 100%;
  grid-column: 5/-1;
  width: 100%;
}
.nirf-header-link-container {
  width: 100%;
}
.top-navbar-links {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8em;
}
.link-container {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: max-content;
}
.nirf-header-link-container {
  width: 100%;
}

.department-hero-intro-details-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}
.department-abbrevation {
  place-items: center;
  font-weight: 800;
  font-size: 30rem;
  letter-spacing: 20px;
  color: rgba(0, 0, 0, 0.22);
}
.department-name {
  text-align: center;
  color: white;
  font-size: 3.8rem;
  font-weight: 750;
}

.pos {
  color: white;
}

.dep-about {
  order: 1;
  flex-grow: 0;
  width: auto;
  height: 245px;
  padding-left: 11em;
  padding-right: 11em;
}

.dep-ab {
  font-weight: 600;
  font-size: 3em;
  line-height: 96px;
  text-align: center;
}

.dep-abco {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 175%;
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 5em;
}
.vmv {
  position: relative;
  padding-top: 1.5em;
  width: 400px;
  height: 400px;
  border-radius: 7px;
  display: grid;
  place-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vmv > h3,
.vmv-content > h3 {
  font-size: 2.5em;
}
.vmv-content {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 200ms ease 0s;
  padding: 25px;
}
.vmv:hover .vmv-content {
  display: flex;
  transition: all 200ms ease 0s;
}

.flex-container {
  display: flex;
  width: auto;
}

.flex-container > div {
  margin: 20px;
  padding: 40px;
  width: 400px;
}

.vision {
  background-color: #d9d9d9;
}

.mission {
  background-color: rgba(161, 217, 242, 0.5);
}

.values {
  background-color: rgba(197, 226, 159, 0.5);
}

.vision-vmv-content {
  background-color: #d9d9d9;
}

.mission-vmv-content {
  background-color: rgba(161, 217, 242, 1);
}

.values-vmv-content {
  background-color: rgba(197, 226, 159, 1);
}

.dep-prg {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 20px 20px 20px 20px;
  gap: 8.7px;

  width: auto;
  height: auto;

  border-radius: 6.09219px;
}
.dep-wrapper {
  display: grid;
  place-items: center;
}

.prg-obj {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
  width: 1000px;
  height: fit-content;
  border-radius: 6.09219px;
}

.obj-col-1 {
  border: 4.35156px solid rgba(197, 226, 159, 0.75);
}

.obj-col-2 {
  border: 4.35156px solid rgba(161, 217, 242, 0.75);
}

.obj-col-3 {
  border: 4.35156px solid #d9d9d9;
}

.prg-dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.prg-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.block-active {
  display: block;
}

.dropdown-active {
  transform: rotate(180deg);
}
