

.slider_circle_10{
  position:relative;
  width:50vw;
  margin: 0 auto;
  user-select: none;
  height:70vh;
  }

  .slider_circle_10 div img{
  width:100%;
  }
  .slider_circle_10 .slider-desc{
  position:absolute;
  bottom:55px;
  display:none;
  width:100%;
  text-align: center;
  

  }
  .slider_circle_10 .active .slider-desc{
  display: block;
  }
  .slider_circle_10 .slider-desc h3{
  font-size:25px;
  font-weight:800;
  margin:30px 0px -10px 0px;
  /* text-transform:uppercase; */
  }
  .slider_circle_10 .slider-desc p{
  font-size:20px;
  color:#a2a2a2;
  margin:5px 0px 5px 0px;
  }
  .slider_circle_10 .slider-desc a i{
  font-size: 20px;
  padding-left:10px;
  color:#7B8D8E;
  text-align: center;
  padding:10px;
  height:15px;
  width:15px;
  margin:0px 5px;
  }

  .slider_circle_10 > div .img{
  border-radius: 50%;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px #000;
  /* margin: 0 50px; */
  
  }
  .slider_circle_10 > div .img,
  .slider_circle_10 .hidden .img{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  z-index: 0;
  overflow: hidden;
  /* transform: translate(-50%, -50%); */
  
  }
  .slider_circle_10 .active .img{
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  z-index: 10;
  }
  .slider_circle_10 .prev1 .img,
  .slider_circle_10 .next1 .img{
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -160px;
  width: 200px;
  height: 200px;
  z-index: 9;
  }
  .slider_circle_10 .next1 .img{
  margin-left: 160px;
  }
  .slider_circle_10 .prev2 .img,
  .slider_circle_10 .next2 .img{
  opacity: 0.7;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -260px;
  width: 180px;
  height: 180px;
  z-index: 8;
  padding-top:-100px;
  }
  .slider_circle_10 .next2 .img{
  margin-left: 260px;
  }
  .nav_indicators {
  position: absolute;
  bottom:0px;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 50;
  
  }
  .nav_indicators ul {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  }
  .nav_indicators ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background: #fff;
  color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  }
  .nav_indicators ul li.active {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 0;
  background: #555;
  color: #555;
  border: 2px solid #aaa;
  }
  .next_button,
  .prev_button {
  position: absolute;
  /* left: 50%; */
  top: 50%;
  /* transform: translateX(50%); */
  cursor: pointer;
  color:#c2c2c2;
  }
  .prev_button {
  position: absolute;
  left: 0%;
  }
  .next_button:hover,
  .prev_button:hover {
  opacity: 1;
  }


  @media screen and (max-width: 768px) {
  .slider_circle_10 .active .img{
    width: 200px;
    height: 200px;
    
  }
  .slider_circle_10 .prev1 .img,
  .slider_circle_10 .next1 .img{
    width: 150px;
    height: 150px;

  }
  .slider_circle_10 .slider-desc h3{
    font-size:15px;
  }
  .slider_circle_10 .slider-desc p{
    font-size:10px;
  }
    
  }