.ents {
  width: 100vw;
  height: 100vh;
  background-color: #f80d0d;
  position: absolute;
  top: 0;


}
.home_bg {
  background: url("../images/home-bg.png") center no-repeat border-box;
}

.happenings-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.happenings-grid:nth-child(5){
  grid-column: 2/3;
}