* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
  
  .iqac-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    /* margin-top: 100px; */
  }
  .hero-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 90vh;
    max-width: 100vw;
    background: #000;
    overflow: hidden;
    position: relative;
  }
.hero-title{
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;

}
  .quality-wrapper {
    display: flex;
    min-width: 1100px;
    max-width: 1100px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  
  .quality-wrapper-content > p {
    font-weight: 600;
    line-height: 30px;
    text-align: center;
  }
  
  .objectives-wrapper {
    display: flex;
    min-width: 1100px;
    max-width: 1100px;
    overflow: hidden;
    background-color: rgba(197, 226, 159, 0.5);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    min-height: 400px;
    position: relative;
    max-height: 400px;
  }
  
  .objectives-wrapper-image {
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 33.33%;
    left: 33.33%;
    transition: all 200ms ease 0s;
  }
  
  .objectives-wrapper-image > h1 {
    font-size: 50px;
    font-weight: 600;
  }
  
  .objectives-wrapper-description {
    display: flex;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 66.66%;
    transition: all 200ms ease 0s;
  }
  
  .objectives-wrapper-description > ul > li {
    font-weight: 600;
    line-height: 40px;
  }
  
  .objectives-wrapper:hover .objectives-wrapper-description {
    left: 33.33%;
    transition: all 200ms ease 0s;
  }
  
  .objectives-wrapper:hover .objectives-wrapper-image {
    left: 0;
    transition: all 200ms ease 0s;
  }
  
  .function-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(161, 217, 242, 0.5);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 100px;
    min-width: 1100px;
    max-width: 1100px;
    gap: 50px;
  }
  
  .function-wrapper-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .function-wrapper-image > h1 {
    font-size: 50px;
    font-weight: 600;
  }
  .function-wrapper-description > ul {
    padding: 0px 100px 0px 100px;
  }
  
  .function-wrapper-description > ul > li {
    font-weight: 600;
    line-height: 40px;
  }
  
  .executive-committee-wrapper {
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 10%;

    /* border-radius: 7px; */
  }
  

  .executive-committee-wrapper > h1 {
    font-size: 50px;
    font-weight: 600;
  }  
  .executive-committee-table {
    min-width: 100%;
    text-align: center;
  }
  
  .executive-committee-table > thead > tr > th {
    background-color: #B5FEDB;
    height: 70px;
    color: #000;
    margin: 15px;
    
  }
  
  .executive-committee-table > tbody > tr:nth-child(odd) > td {
    /* background-color: #d9d9d9; */
    height: 50px;
    border-radius: 7px;
    margin: 15px;
    margin-left: 0;
  }
  
  .executive-committee-table > tbody > tr:nth-child(even) > td {
    background-color: #FAFAFA;
    height: 50px;
    border-radius: 7px;
    margin: 15px;
    margin-left: 0;

  }
  
  .fixed-scroll {
    position: sticky;
    top: 0;
    background-color: white;
  }
  .fixed-scroll > thead > tr {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
  }
  .fixed-scroll > thead > tr > th {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .executive-committee-table > tbody > tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
  }
  .executive-committee-table > tbody > tr > td {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  


  .Formation-notices{
    display: flex;
    flex-direction: column;
    background-color:rgb(247, 247, 234);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 50px;
    margin-bottom: 30px;
    margin-top : 0px;
    min-width: 1100px;
    max-width: 1100px;
    gap: 50px;
  }
  .Formation-notices > ul {
    list-style-type:square;
    padding: 0px 0px 0px 0px;
    pointer-events: all;
  }
  
  .Formation-notices > ul > li {
    font-weight: 500;
    line-height: 40px;
  }

  .IQAC-Meeting-Notices-And-Minutes{
    display: flex;
    flex-direction: column;
    background-color:aliceblue;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 50px;
    margin-bottom: 30px;
    min-width: 1100px;
    max-width: 1100px;
    gap: 50px;
  }

  .IQAC-Meeting-Notices-And-Minutes > ul {
    list-style-type:square;
    padding: 0px 0px 0px 0px;
    pointer-events: all;
  }
  
  .IQAC-Meeting-Notices-And-Minutes > ul > li {
    font-weight: 500;
    line-height: 40px;
  }