* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}


body {
    background-color: #f3f3f3;
  }


.management-wrapper {
  display: flex;
  flex-direction: column;
}

.management-hero {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.management-hero-intro-details-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}
.management-abbrevation {
  place-items: center;
  font-weight: 700;
  font-size: 50rem;
  letter-spacing: 20px;
  color: rgba(0, 0, 0.1, 0.32);
}
.management-header-font-arrow {
  position: absolute;
  top: 180px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.management-name {
  text-align: center;
  top: -100px;
  font-size: 12rem;
  font-weight: 600;
}


  .about-management-header {
    text-align: center;
    padding: 32px;
  }

  .about-management-row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0px 6px;
    margin: 0px 150px 0px 150px;
  }

  .about-management-column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0px 0px;
  }

  .about-management-wrapper{
    padding: 0px 150px 50px 150px;
  }
  .management-photo-wrapper {
    border-radius: 7px;
    border: 1px solid #cfcfcf;
    padding: 15px;
    margin: 12px 6px 6px 6px;
  }

  .management-photo {
    border-radius: 12px;
  }

  .management-photo-content {
    text-align: center;
    margin: 0px;
  }
  .management-photo-content > h2 {
    font-size: 1.5rem;
    margin: 5px;
  }
  .management-photo-content > p {
    font-size: 1.3rem;
    color: gray;
    margin: 5px 0px 5px 0px;
  }
  .about-management-column img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
  }
  @media all and (max-width: 550px) {
    .management-abbrevation {
      place-items: center;
      font-weight: 700;
      font-size: 20rem;
    }
    .management-name {
      place-items: center;
      font-size: 6rem;
      font-weight: 500;
    }
  }

  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

 
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }