@charset "UTF-8";

.nav-container {
  min-width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
}


nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
  /* background: #000; */
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;

  color: #ffffff;
  text-decoration: none;
}

nav ul li ul a:hover {
  width: 100%;
  background: #205072;
  color: #ffffff;
  border-radius: 15px;
}

nav ul li ul {
  width: 100%;
}

nav ul li ul li {
  width: 100%;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 290px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  top: 80px;
  display: none;
  z-index: 1;
  min-width: 390px !important;
  padding: 10px;
  background: rgba(0, 0, 0, 0.51) !important;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 1200px) {
  .nav-mobile {
    display: block;
    min-height: calc(fit-content+ 100px );
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }

  nav ul {
    display: none;
    background: #000;
    position: absolute;
    left: 0;
    top: 10vh;
    width: 100%;
    z-index: 1;
    /* @apply glass; */
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}