{% extends 'base.html' %}
{% load static %} {% block title %} Placement {% endblock title %}
{% block body %}
{% block 'head'%}
<style>
  #gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;

  }

  @media (max-width:1200px) {
    #gallery {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;

      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
    }
  }

  @media (max-width:800px) {
    #gallery {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;

      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
    }
  }

  @media (max-width:600px) {
    #gallery {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }

  #gallery img,
  #gallery video {
    width: 100%;
    height: auto;
    margin: 4% auto;


    box-shadow: -2px 4px 10px #000;


    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .modal-img,
  .model-vid {
    width: 100%;
    height: auto;
  }

  .modal-body {
    padding: 0px;
  }
</style>
{% endblock 'head' %}
<main class='md:mx-24 mx-11 relative'>


  <div class="min-h-24">
  </div>
  <h1 class="text-center w-full py-24 text-4xl font-bold pt-24 ">Placement Gallery</h1>
  <div>
  </div>

  {% if error %}
  <div class="min-h-[60vh]  flex items-center justify-center">
    <h1 class="md:text-6xl text-2xl font-bold text-center text-blue-600">Oops....{{error}}</h1>
  </div> 
   {% else %}
   <div class="flex md:flex-row flex-col " >
    {% include 'Placements/sidebar.html' %}
    <div id="gallery" class="mb-11 min-h-screen">

    {% for item in gallery %}
    {% if 'vdo' in item.type %}
    <div class="relative z-[100]" id="video--container">
      <video controls class="z-[50] relative">
        <source src="{{item.video.url}}" type="video/mp4" id="Myvid">
        </source>
      </video>
    </div>
    {% else %}
    <img src="{{item.image.url}}" class="img-responsive">
    {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    <div id="myModal" class="fixed inset-0  h-[100vh] w-[100vw] hidden z-[99999]">
      <div class="modal-body p-24 h-full w-full flex justify-center items-center backdrop-blur-lg">

      </div>
    </div>
  </div>
</main>
{% endblock body %}

{% block script %}
<script>


  $(document).ready(function () {
    $("img").click(function () {
      var t = $(this).attr("src");
      $(".modal-body").html("<img   class='max-h-[90vh] max-w-[90vw] rounded-xl shadow-xl' src='" + t + "'>");
      $("#myModal").toggleClass("hidden");

    });
    $("#myModal").click(function () {
      $("#myModal").toggleClass("hidden");

    });

  });//EOF Document.ready
</script>
{% endblock script %}