<aside class="p-8 shadow-2xl rounded-2xl flex space-y-1 mt-4 flex-col lg:w-[380px] font-medium w-full bg-white mb-11">
    <div class="bg-[#F9F9F9] p-3 rounded-[16px] group  flex items-center justify-start pl-9 lg:hidden text-center"
        id="sidebar-header">
        <div class="space-x-6 text-gray-600 group-hover:text-[#007FFF]   items-center flex  mx-auto">
            {%ifequal 'index' route%}
            <i class="material-icons" class="group-hover:text-[#007FFF]">info</i><span>About </span>
            {%endifequal%}

            {%ifequal 'placement_traning' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_1</i><span>Placement Training</span>
            {%endifequal%}

            {%ifequal 'achivements' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">book</i><span>Achievements</span>
            {%endifequal%}

            {%ifequal 'faculty' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">diversity_2</i><span>Faculty & Staff</span>
            {%endifequal%}

            {%ifequal 'statistics' route%}
            <i class="material-icons"
                lass="text-gray group-hover:text-[#007FFF]">diversity_3</i><span>Statistics</span>
            {%endifequal%}

            {%ifequal 'activities' route%}
            <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">rocket_launch</i><span>Activites</span>
            {%endifequal%}

            {%ifequal 'recruiters' route%}
            <i class="material-icons"
                lass="text-gray group-hover:text-[#007FFF]">rocket_launch</i><span>Recruiters</span>
            {%endifequal%}

            
        </div>
    </div>
    <div class="w-full flex items-center justify-center lg:hidden">
        <span class="material-symbols-outlined text-4xl hover:text-[#007FFF]" id="icon-sidebar-expand">
            expand_more
        </span>
    </div>
    <div class="space-y-4 lg:block hidden" id="sidebar-content">
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group {%if 'index' in route%}border-[#007FFF] border-2{%endif%} flex items-center justify-start pl-9">
            <a href="{% url 'placement_page'  'index' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="group-hover:text-[#007FFF]">info</i><span>About </span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center{%if 'placement_traning' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'placement_page'  'placement_traning' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="text-gray group-hover:text-[#007FFF]">diversity_1</i><span>Placement Training</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'achivements' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'placement_page' 'achivements' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="text-gray group-hover:text-[#007FFF]">book</i><span>Achievements</span>
            </a>
        </div>

        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'faculty' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'placement_page' 'faculty' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="text-gray group-hover:text-[#007FFF]">diversity_2</i><span>Faculty & Staff</span>
            </a>
        </div>
        <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'statistics' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'placement_page'  'statistics' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    class="text-gray group-hover:text-[#007FFF]">diversity_3</i><span>Statistics</span>
            </a>
        </div>
        {% comment %} <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'activities' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'placement_page'  'activities' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" class="text-gray group-hover:text-[#007FFF]">rocket_launch</i><span>Activites</span>
            </a>
        </div> {% endcomment %}
        {% comment %} <div
            class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center {%if 'recruiters' in route%} border-[#007FFF] border-2{%endif%} justify-start pl-9">
            <a href="{% url 'placement_page'  'recruiters' %}"
                class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons"
                    class="text-gray group-hover:text-[#007FFF]">biotech</i><span>Recruiters</span>
            </a>
        </div> {% endcomment %}

        <div class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center justify-start pl-9">
            <a href="#gallery" class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <span class="material-symbols-outlined"> gallery_thumbnail </span><span>Gallery</span>
            </a>
        </div>
        <div class="bg-[#F9F9F9] p-3 rounded-[16px] group flex items-center justify-start pl-9">
            <a href="#contact-us" class="space-x-11 text-gray-600 group-hover:text-[#007FFF]   items-center flex">
                <i class="material-icons" lass="text-gray group-hover:text-[#007FFF]">contacts</i><span>Contact</span>
            </a>
        </div>
    </div>
</aside>
{% block script %}
<script>
    $('#icon-sidebar-expand').click(
        function () {
            $('#sidebar-header').toggleClass('hidden');
            $('#sidebar-content').toggleClass('hidden');
            $("#icon-sidebar-expand").toggleClass("rotate-180");
        }
    )

</script>

{% endblock script %}