{% extends 'base.html' %} {% load static %} {% block title %} Placements {% endblock title %} {% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
{% endblock head %}
{% block body %}
{% include 'components/Hero_section.html' %}
<section class="md:px-24  pt-24 px-6" id="content">

  <div class="flex gap-10 lg:flex-row flex-col items-start">
    <div class="col-span-1 flex justify-center items-start flex-col">
      <h2 class="font-semibold text-2xl px-4">Placements</h2>
      <p class="px-4 text-gray-400">Home / Placements / Placement Traning </p>
      {% include 'Placements/sidebar.html' %}
    </div>
    <div class=" w-full space-y-16 mt-11 ">
      <div class="w-full flex flex-col justify-center items-center">
        <h1 class="text-4xl my-11 font-bold">Placements and Higher Studies Statistics</h1>

        <div class="py-11">
          <table class="w-full border border-solid border-1">
            <thead class="rounded-t-lg bg-[#28AAE1] ">
              <tr class="text-white border-solid border-1 border-grey">
                <th class="p-2 border-solid border-1 border-grey">Year</th>
                <th class="p-2 border-solid border-1 border-grey border-l-2 border-white">No. of Students<br/>(Final Year)</th>
                <th class="p-2 border-solid border-1 border-grey border-l-2 border-white">No. of Students placed</th>
                <th class="p-2 border-solid border-1 border-grey border-l-2 border-white">No. of Students - Higher Studies</th>
                <th class="p-2 border-solid border-1 border-grey border-l-2 border-white">No. of Students - Entrepreneurship</th>
                <th class="p-2 border-solid border-1 border-grey border-l-2 border-white">Total</th>
                <th class="p-2 border-solid border-1 border-grey border-l-2 border-white">Placement Percentage</th>
                <th class="p-2 border-solid border-1 border-grey border-l-2 border-white">Highest Salary <br/>(in Lakhs/Annum)</th>
              </tr>
            </thead>
            <tbody>
              {% for item in table %}
              <tr class="rounded-t-lg even:bg-[#e4e4e4] odd:bg-white ">
                <td class="p-2 text-center border-solid border-r-2 border-[#e4e4e4]">{{item.year}}</td>
                <td class="p-2 text-center border-solid border-r-2 border-[#e4e4e4]">{{item.students}}</td>
                <td class="p-2 text-center border-solid border-r-2 border-[#e4e4e4]">{{item.placement}}</td>
                <td class="p-2 text-center border-solid border-r-2 border-[#e4e4e4]">{{item.higher_studies}}</td>
                <td class="p-2 text-center border-solid border-r-2 border-[#e4e4e4]">{{item.entrepreneurship}}</td>
                <td class="p-2 text-center border-solid border-r-2 border-[#e4e4e4]">{{item.total}}</td>
                <td class="p-2 text-center border-solid border-r-2 border-[#e4e4e4]">{{item.percentage}}%</td>
                <td class="p-2 text-center border-solid border-r-2 border-[#e4e4e4]">{{item.highest}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="w-full justify-center flex">
            {% for img in image %}
            <img src="{{img.graph.url}}" class="rounded-xl aspect-square object-contain" alt="Placement Graph">
            {% endfor %}
          </div>
        </div>
        
      </div>
    </div>
  </div>

</section>






{% endblock body %}
{% block script %}


{% endblock script %}