
{% extends 'base.html' %} {% load static %} {% block title %} Admission {% endblock title %} {% block head %}
{% comment %} inorder to achive fast delivery of the website the mediam  {% endcomment %}
{% comment %} screen and above screen views are styled usind pure css {% endcomment %}
 {% comment %} and the rest using Tailwind which should be addressed in future {% endcomment %}
    <link rel="stylesheet" href="/static/css/admission.css" />
    {% endblock head %}
    {% block body %}
      {% include 'components/Hero_section.html' %}
      <div class="overflow-x-clip">
      <div class="adm-timeline-wrapper md">
        <div class="adm-details-wrapper">
          <h2>Admission<br />Details</h2>
          <div>
            <img
              class="adm-details-img"
              src="./static/images/Admission/graduation-hat.png"
              alt=""
            />
          </div>
        </div>
        <div class="adm-course-wrapper ">
          <div>
            <img class="adm-course-img" src="./static/images/Admission/bookshelf.png" alt="" />
          </div>
          <div class="adm-course-offer">
            <h2>Courses we offer</h2>
            <ul>
              <li>Civil Engineering (CE)</li>
              <li>Computer Science & Engineering (CSE)</li>
              <li>Electrical & Electronics Engineering (EEE)</li>
              <li>Electronics & Communication Engineering (ECE)</li>
              <li>Mechanical Engineering (ME)</li>
            </ul>
          </div>
          <div class="adm-course-rect"></div>
        </div>
        <div class="adm-timeline">
          <div class="adm-timeline-single relative ">
            <ul>
              <b
                ><li>Total Seats for Each Branch - 60</li>
                <li>Government Seats - 30</li>
                <li>Management Seats - 30 :</li></b
              >
              <li>
                <ul style="width: fit-content; margin-left: 60px">
                  <li>Open Category Seats - 10</li>
                  <li>All Christian Communities Seats - 11</li>
                  <li>NRI Category Seats - 9</li>
                </ul>
              </li>
            </ul>

            <div class="adm-timeline-single-line">
              <div class="adm-timeline-single-outercircle">
                <div class="adm-timeline-innercircle"></div>
              </div>
              <div class="adm-timeline-single-title-odd">
                <h3>Seat<br />Allotment</h3>
              </div>
            </div>
          </div>

          <!-- evn classes -->
          <div class="adm-timeline-single adm-timeline-single-even">
            <div class="adm-fee-details-align-right">
              <div>
                <h4>Tution Fee</h4>
                <span>Rs. 75,000 per year</span>
              </div>
              <div>
                <h4>Special Fee</h4>
                <span>Rs. 10,000 per year</span>
              </div>
              <div>
                <h4>University Administration Fee</h4>
                <span>Rs. 1,000</span>
              </div>
              <div>
                <h4>Caution Deposit</h4>
                <span>Rs. 10,000</span>
              </div>
            </div>
            <div class="adm-fee-details-align-left">
              <div>
                <h4>Total</h4>
                <span>Rs. 96,000</span>
              </div>
              <div>
                <h4>Refundable Deposit</h4>
                <span>Rs. 100,000</span>
              </div>
            </div>
            <div style="width: 100%; text-align: right">
              <small>**Fee to be remitted at the time of admission</small>
            </div>

            <div class="adm-timeline-single-line adm-timeline-single-line-even">
              <div class="adm-timeline-single-outercircle">
                <div class="adm-timeline-innercircle"></div>
              </div>
              <div class="adm-timeline-single-title-even">
                <h3>Fee Details</h3>
              </div>
            </div>
          </div>

          <div class="adm-timeline-single">
            <ul>
              <li><b>Academic Eligibility Criteria</b></li>
              <li>Some description should 4e entered</li>
              <button class="adm-timeline-button">View</button>
            </ul>

            <div class="adm-timeline-single-line">
              <div class="adm-timeline-single-outercircle">
                <div class="adm-timeline-innercircle"></div>
              </div>
              <div class="adm-timeline-single-title-odd">
                <h3>Academic<br />Eligibility</h3>
              </div>
            </div>
          </div>

          <!-- evn classes -->
          <div class="adm-timeline-single adm-timeline-single-even">
            <ul>
              <li><b>Original Documents :</b></li>
              <li><b>Transfer Certificate</b></li>
              <li><b>Conduct Certificate</b></li>
              <li><b>Admit Card issued by the CEE**</b></li>
              <li><b>10th Certificate</b> (Original)</li>
              <li><b>Higher Secondary mark lists</b> (Original)</li>
              <li><b>Candidate's Data Sheet issued by the CEE</b></li>
              <li><b>Allotment Memo issued by the CEE**</b></li>
              <li>
                <b>Equivalance/Eligibility certificate</b> (boards other than
                HSE/VHSE/ THSE/ CBSE/ CISCE)
              </li>
              <li><b>Migration Certificate</b> (boards other than HSE/VHSE)</li>
              <li><b>Passport size photo</b> (2)</li>
              <li><b>Scanned copy of photo</b></li>
              <li><b>Scanned copy of signature</b></li>
              <li><b>Receipt of fee remitted in the Bank**</b></li>
              <li><b>Physical Fitness Certificate</b> (in given format) :</li>
              <div
                style="
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                "
              >
                <button class="adm-timeline-button">
                  Download Certificate
                </button>
              </div>
              <br />
              <div class="adm-document-required-align-left">
                <ul>
                  <li><b>Document Copies :</b></li>
                  <li><b>Aadhar</b> (1)</li>
                  <li><b>Higher Secondary mark lists</b> (2)</li>
                  <li><b>10th Certificate</b> (2)</li>
                </ul>
              </div>
              <div style="width: 100%; text-align: right">
                <small>**Documents are mandatory</small>
              </div>
            </ul>

            <div class="adm-timeline-single-line adm-timeline-single-line-even">
              <div class="adm-timeline-single-outercircle">
                <div class="adm-timeline-innercircle"></div>
              </div>
              <div class="adm-timeline-single-title-even">
                <h3>Documents Required</h3>
              </div>
            </div>
          </div>

          <div class="adm-timeline-single">
            <div>
              <h5>
                To encourage and motivate the students of Christ College Of
                Engineering, the following Merit Scholarships are being provided
                for the eligible ones.
              </h5>
              <br />
              <h5>For <b>Computer Science & Engineering (CSE)</b>,</h5>
              <br />
            </div>
            <div class="adm-scholorship-details-grid">
              <div>
                <h4>KEAM Rank</h4>
                <span>Less than 5,000 <br />5,000 to 10,000</span>
              </div>

              <div>
                <h4>Scholarship Amount</h4>
                <span
                  >Rs. 35,000 per year<br />
                  Rs. 10,000 at time of admission
                </span>
              </div>
              <div>
                <h4>For CE,EC,EEE,ME</h4>
              </div>
              <div class="keam-rand-details">
                <h4>KEAM Rank</h4>
                <span
                  >Less than 5,000 <br />5,000 to 10,000<br />
                  10,000 to 20,000</span
                >
              </div>
              <div class="scholorship-detail-amount">
                <h4>Scholarship Amount</h4>
                <span
                  >Rs. 65,000 per year <br />Rs. 25,000 at time of admission
                  <br />Rs. 20,000 at time of admission
                </span>
              </div>
            </div>

            <div class="adm-timeline-single-line">
              <div class="adm-timeline-single-outercircle">
                <div class="adm-timeline-innercircle"></div>
              </div>

              <div class="adm-timeline-single-title-odd">
                <h3>Scholarship<br />Details</h3>
              </div>

              <div
                class="adm-timeline-single-outercircle adm-timeline-lastcircle"
              >
                <div class="adm-timeline-innercircle"></div>
              </div>
            </div>
          </div>

          <div class="adm-contact-us-wrapper">
            <h3>Contact Us</h3>
            <div class="adm-contact-us">
              <h4>For further enquiries, contact :</h4>
              <div class="adm-contact-us-outer">
                <div class="adm-contact-us-names">
                  <ul>
                    <li>Mr. Sanjesh K S</li>
                    <li>(Asst. Prof. ME)</li>
                    <li>Mr. Prabhasankar V P</li>
                    <li>(Asst. Prof. CE)</li>
                    <li>Ms. Anjali Anto</li>
                    <li>(Asst. Prof. EEE)</li>
                  </ul>
                </div>
                <div class="adm-contact-us-no">
                  <li>+91 9497707438</li>
                  <li>+91 9497707439</li>
                  <li>+91 9207267436</li>
                </div>
              </div>
              <span><b>Email :</b> contact@cce.edu.in </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  {% endblock body %}
