{% extends 'base.html' %} {% load static %} {% block title %} Admission | Statistics {% endblock title %} {% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
{% endblock head %}
{% block body %}
{% include 'components/Hero_section.html' %}
<section class="md:px-24  pt-24 px-6" id="content">

    <div class="flex  lg:flex-row flex-col">

        <div class=" w-full space-y-16 mt-11 ">
            <div class="w-full flex flex-col justify-center items-center">
                <h1 class="text-4xl my-11 font-bold">Admission Statistics</h1>

                <div class="w-4/5 mx-auto pt-6 pb-12">
                    <ul class="flex items-center gap-2 text-sm font-medium">
                        {% for yr in years %}
                        {% ifnotequal yr "none" %}
                        <li class="flex-1">
                            <a href="{% url 'admission_statistics' %}?year={{yr}}#content"
                                class="relative px-8 py-2 font-medium rounded-lg transition duration-300 border-solid border-2 hover:bg-blue-200 {% ifequal year yr %} bg-blue-500 border-blue-500 text-gray-200 {% else %}  border-blue-300  text-gray-500 hover:text-gray-700 {% endifequal %} ease">
                                <span class="relative">{{yr}}</span>
                            </a>
                        </li>
                        {% endifnotequal %}
                        {% endfor %}
                    </ul>
                </div>


                <div class="w-4/5">
                    <table class="w-full">
                        <thead class="rounded-t-lg bg-[#28AAE1]">
                            <tr class="text-white">
                                <th class="p-2">Sl No</th>
                                <th class="p-2">Department</th>
                                <th class="p-2">Sanctioned Seats</th>
                                <th class="p-2">Admitted Seats</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in table %}
                            <tr class="rounded-t-lg {% cycle 'even:bg-[#fafafa]' 'odd:bg-white' %}">
                                <td class="p-2 text-center">{{ forloop.counter }}.</td>
                                <td class="p-2 text-center">{{ item.dept }}</td>
                                <td class="p-2 text-center">{{ item.seats }}</td>
                                <td class="p-2 text-center">{{ item.admitted }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="py-11">
                    <img src="{{data.graph.url}}" class="rounded-xl aspect-square" alt srcset>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock body %}
{% block script %}

{% endblock script %}