{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %} | CCE</title>
  {% tailwind_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%  static  'css/base.css'  %}" />

  {% block head %}{% endblock head %}
</head>

<body class="overflow-x-hidden">
  <header>
    <nav class="p-2 flex pl-4 pr-4 bg-[#205072] shadow-lg w-[100vw] justify-between text-white topbar text-sm z-[10]">
      <div class="">
        <i class="fa-solid fa-phone mr-1"></i> <span>Office</span>
      </div>
      <div class="space-x-1 ">
        <a href="/">Research</a>
        <a href="/about">Aluminae</a>
        <a href="/">KTU Examinations</a>
        <a href="/">Admission</a>
        <a href="/">Cells</a>
        <a href="/">Conferances</a>
        <a href="/">NIRF</a>
        
        <a href="/">IQAF</a>
        <a href="/">Techletics</a>
      </div>
    </nav>
    <nav class="absolute navbar w-[100vw] flex  justify-center items-center z-[999]">
      <div class="flex justify-between items-center w-[80%]">
        <div class="">
          <img src="{%  static  'images/cce.png'  %}" alt="logo" class="w-[300px]">
        </div>
        {% with request.resolver_match.url_name as url_name %}
        <div>
          <div class="space-x-6  text-base relative  text-white flex ">
            <div>
              <a href="/" class="{% if url_name == 'home' %}active{% endif %}">Home</a>
            </div>
            <div>
              <a href="/academics" class="{% if url_name == 'academics' %}active{% endif %}">Academics</a>
            </div>
            <div>
              <a href="/departments" class="{% if url_name == 'departments' %}active{% endif %}">Departments</a>
            </div>
            <div>
              <a href="/campuslife" class="{% if url_name == 'campuslife' %}active{% endif %}">Campus Life</a>
            </div>
            <div>
              <a href="/about" class="{% if url_name == 'about' %}active{% endif %}">About</a>
            </div>

            <a href="/" class="">More<i class="fa-solid fa-caret-down ml-2"></i></a>
            <button id="search_button"><i class="fa-solid fa-magnifying-glass"></i></button>

          </div>
          {% endwith %}
          <div class=" w-full h-[40px] hidden" id="search_container">
            <input type="search" name="" id="" class="w-full mt-6 rounded-xl border-2 border-[#6baad7]">
          </div>
        </div>
      </div>
    </nav>
  </header>

  {% block body %} {% endblock body %}
</body>
<footer class="w-[100vw]  bg-[#252929] h-auto relative">
  {% with request.resolver_match.url_name as url_name %}
  {% if url_name == 'home' %}active
  <div class="p-5 w-full flex justify-center items-center flex-col">
    <div class="w-[90%] p-5 flex space-x-7 justify-center flex-wrap space-y-5 md:space-y-0">
      <div class="w-[300px] bg-[#686868] h-[190px] rounded-[25px] flex flex-col justify-center items-center">
        <div class="logo rounded-full w-[80px] h-[80px] bg-white flex justify-center items-center">

          <i class="fa-solid fa-location-dot fa-2x"></i>
        </div>
        <div class="text w-[90%] text-center text-white font-medium mt-2">Christ College of Engineering,
          Irinjalakuda, Thrissur,
          Kerala - 680125</div>
      </div>
      <div class="w-[300px] bg-[#686868] h-[180px] rounded-[25px] flex flex-col justify-center items-center">
        <div class="logo rounded-full w-[80px] h-[80px] bg-white flex  justify-center items-center">
          <i class="fa-solid fa-phone fa-2x"></i>

        </div>
        <div class="text w-[90%] text-center text-white font-medium mt-2">Office
          0480 <br> 2825355</div>
      </div>

      <div class="w-[300px] bg-[#686868] h-[180px] rounded-[25px] flex flex-col justify-center items-center">
        <div class="logo rounded-full w-[80px] h-[80px] bg-white flex justify-center items-center">

          <i class="fa-solid fa-envelope fa-2x"></i>

        </div>
        <div class="text w-[90%] text-center text-white font-medium mt-2">contact@cce.edu.in</div>
      </div>
    </div>
  </div>
  <div class=" flex justify-center items-center w-[100vw] pb-11">
    <div class="flex justify-center-items-center w-[75%] ">
      <img src="{%  static  'images/footerMap.png'  %}" alt="logo" class="h-full w-full rounded-xl">
    </div>
  </div>
  {% endif %}
  {% endwith %}

  <div class="w-[100vw] h-auto pt-5 flex justify-center pb-11 items-center">
    <div class="md:w-[75%] w-[90%] flex justify-between flex-wrap">
      <div>
        <img src="{%  static  'images/cce.png'  %}" alt="logo" class="w-[280px]">


        <div class="socials flex space-x-6 text-white">
          <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>

      <div class="quicklinks text-sm flex  flex-col text-white space-y-4">
        <h1 class="font-semibold mb-2 text-xl ">QUICK LINKS</h1>
        <a href="">KTU Website</a>
        <a href="">DTE Kerala</a>
        <a href="">CEE Kerala</a>
        <a href="">Grivence Cell</a>
      </div>
      <div class="affliations flex text-sm  flex-col text-white space-y-4">
        <h1 class="text-xl font-semibold mb-2">AFFILIATIONS</h1>
        <a href="">KTU Affliliations</a>
        <a href="">AICTE Affliliations</a>
      </div>
      <div class="other flex  text-sm flex-col text-white space-y-4">
        <h1 class="text-xl  font-semibold mb-2">OTHER</h1>
        <a href="">AICTE Website</a>
        <a href="">Results</a>
        <a href="">Publications by
          our Faculty</a>
      </div>

    </div>

  </div>
  <div class="w-full h-auto flex justify-center items-center absolute flex-col bottom-0 ">
    <div class="w-[75vw] bg-[#F9F9F9] h-[1px] mt-4"></div>
    <p class="text-[#F5FAFA] text-xs mt-2">
      Copyright © 2022 Christ College of Engineering
    </p>
  </div>
</footer>
{% block script %}{% endblock script %}

<script>
  window.addEventListener("load", function () {
    const searchButton = document.getElementById("search_button")
    const searchContainer = document.getElementById("search_container")
    searchButton.addEventListener("click", function () {
      searchContainer.classList.toggle("hidden")
    })
    const topbar = document.querySelector(".topbar");
    const navbar = document.querySelector(".navbar");
    const navbarHeight = navbar.getBoundingClientRect().height;
    window.addEventListener("scroll", function () {
      if (window.scrollY > navbarHeight) {
        navbar.classList.add("fixed-nav");
      } else {
        navbar.classList.remove("fixed-nav");
        navbar.style.top = topbar.getBoundingClientRect().height + 20 + "px";
      }
    });
  });
</script>

</html>