{% extends 'base.html' %}
{% load static %} {% block title %} Gallery {% endblock title %}
{% block head %}
<style>
  #gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }

  @media (max-width:1200px) {
    #gallery {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;

      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
    }
  }

  @media (max-width:800px) {
    #gallery {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;

      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
    }
  }

  @media (max-width:600px) {
    #gallery {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }

  #gallery img,
  #gallery video {
    width: 100%;
    height: auto;
    margin: 4% auto;

 
    box-shadow:-2px 4px 10px #000;


    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .modal-img,
  .model-vid {
    width: 100%;
    height: auto;
  }

  .modal-body {
    padding: 0px;
  }
</style>

{% endblock head %}

{% block body %}
<main class='md:mx-24 mx-11 relative'>
  <div class="h-24"></div>
  <h1 class="text-center w-full py-24 text-6xl font-bold pt-24 ">CCE Gallery </h1>
  <div id="gallery" class="">
    {% comment %} <video class="vid" controls>
      <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
      </source>
    </video> {% endcomment %}
    {% for item in gallery %}

    <img src="{{item.image.url}}" class="img-responsive">
    {% endfor %}

  </div>


  <div id="myModal" class="fixed inset-0  h-[100vh] w-[100vw] hidden z-[99999]">
    <div class="modal-body p-24 h-full w-full flex justify-center items-center backdrop-blur-lg">
      
    </div>
  </div>




</main>
{% endblock body %}

{% block script %}
<script>


  $(document).ready(function () {
    $("img").click(function () {
      var t = $(this).attr("src");
      $(".modal-body").html("<img   class='max-h-[90vh] max-w-[90vw] rounded-xl shadow-xl' src='" + t + "'>");
      $("#myModal").toggleClass("hidden");
      
    });
     $("#myModal").click(function () {
      $("#myModal").toggleClass("hidden");
    }); 

    $("video").click(function () {
      var v = $("video > source");
      var t = v.attr("src");
      $(".modal-body").html("<video class='model-vid' controls><source src='" + t + "' type='video/mp4'></source></video>");
      $("#myModal").modal();
    });
  });//EOF Document.ready
</script>
{% endblock script %}