
{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock title %} {% block head %}
<link rel="stylesheet" href="{%  static  'css/home.css'  %}" />
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
{% endblock head %}
{% block topbar %} 
{% include 'components/topbar.html'  %}

{% endblock topbar %}
{% block body %}


<section class="home_section relative ">
  <div class="w-[100vw] md:h-[100vh] overflow-clip  -z-1">
    <video src="https://traversymedia.com/downloads/video.mov" autoplay muted loop class="hidden md:block"></video>
    <img src="{%  static  'images/home-bg.png'  %}" alt="hero image" class="md:hidden">
  </div>
  <div class="absolute top-0 left-0 w-[100vw] md:h-[100vh] h-full  bg-[#11111d8c] img-overlay"></div>
  <div class="absolute  w-[100vw] md:h-[100vh] top-0 flex justify-center items-stretch ">
    <div class="w-full p-[15vw] text-white z-50 md:text-7xl text-3xl md:flex hidden flex-col justify-center items-start ">

      <p class=" font-extralight">The</p>
      <p class="font-black">Most Preferred</p>
      <p class=" font-extralight">private self-financing</p>
      <p class=" font-extralight">Engineering college</p>
    </div>
  </div>
</section>


<div class="absolute bottom-3 animate-bounce  w-full  items-center justify-center hidden " >
  <img src="{%  static  'images/chevrons-down.svg'  %}" alt="chevrons-down" class="" />
</div>

<section class="w-[100vw] h-auto flex justify-center items-center flex-col p-6">
  <div class="md:w-[80%] w-full">
    <div class="flex md:flex-row flex-col space-y-3 md:space-y-0 items-center justify-between mb-4">
      <h1 class="font-black text-4xl">Happenings</h1>
      <a href="/gallery" class="bg-[#007FFF] p-2 md:pl-6 md:pr-6 rounded-md font-bold text-white">Explore More</a>
    </div>

    <div class="w-full grid gap-4 grid-cols-2 lg:grid-cols-3 place-items-center">
      <img src="{%  static  'images/happenings1.png'  %}" class=" " alt="happenings-img" srcset="">
      <img src="{%  static  'images/happenings2.png'  %}" class="hidden lg:block" alt="happenings-img" srcset="">
      <img src="{%  static  'images/happenings3.png'  %}" alt="happenings-img" class="" srcset="">

      <img src="{%  static  'images/happenings4.png'  %}" class="col-start-1 col-end-3 w-full md:w-auto md:col-start-0 md:col-end-1 " alt="happenings-img" srcset="">

      <div class="p-5 md:col-start-2 md:col-end-3  lg:col-end-4 col-start-1 col-end-3 w-full md:bg-white bg-[#0973B9] md:mt-0 mt-[-10%] md:text-black text-white">
        <h1 class="font-bold text-3xl font-black">Techletics '22</h1>
        <p class="text-xl font-semibold">Moto Expo was conducted on the banner of Techletics ‘22.</p>
        <p>
          and the students were also able to interact with the industry.
          Fermentum amet nulla risus augue cras morbi consectetur amet. Dui sit tristique elementum convallis sed in.
          Ultrices lorem egestas at diam. Et nec, etiam auctor ut tortor, feugiat volutpat. Mauris porta rhoncus
          fermentum mollis. Rutrum massa curabitur posuere tincidunt nulla commodo. Duis ed ornare pharetra, risus id.
          Aliquam placerat consequat.
        </p>
        <button class="border-[1px] border-[#007FFF] p-3 rounded-md mt-2">See More</button>
      </div>

    </div>

  </div>

</section>

<section class="marquee w-full h-[10vh] text-4xl font-black ">
  <div>
    <marquee behavior="" direction="left">
      2021 Semester VII Results published. | College Techfest, Techletics'22 successfully held on May 4,5 and 6. |
    </marquee>
  </div>
</section>

<section class="w-[100vw] h-auto pt-11 pb-11 bg-[#F9F9F9] flex items-center justify-center " id="counterSection">
  <div class="w-[80%] flex items-center justify-between md:flex-row flex-col md:space-y-0 space-y-24 ">
    <div class="flex-col justify-center flex items-center">
      <h1 class="text-5xl font-black" id="students_counter">0</h1>
      <p class="text-xl text-[#007FFF]">STUDENTS</p>
    </div>
    <div class="flex-col justify-center flex items-center">
      <h1 class="text-5xl font-black" id="faculty_counter">0</h1>
      <p class="text-xl text-[#007FFF]"> FACULTY</p>
    </div>
    <div class="flex-col justify-center flex items-center">
      <h1 class="text-5xl font-black" id="staff_counter">0</h1>
      <p class="text-xl text-[#007FFF]"> STAFFS</p>
    </div>

  </div>
</section>

<section class="recruiters bg-white pt-11 pb-11 flex flex-col justify-center items-center">
  <h1 class="text-4xl md:text-5xl font-bold"> Our Top Recruiters</h1>
  <img src="{%  static  'images/recruiters.png'  %}" alt="Recruiters" class="p-6 mt-11" srcset="">

</section>
{% include 'components/gallery.html'  %}

<section class="testimonials w-[100vw] min-h-[100vh] flex flex-col justify-center items-center">
  <h1 class="md:text-6xl text-5xl font-bold mt-6 p-4">Testimonials</h1>

  <div class="swiper w-[90%] h-[95vh]">
    <div class="swiper-wrapper ">
      {% for item in Testimonials %}
      <div class="swiper-slide">
        <div class="w-full  h-full flex justify-center items-center ">
          <div class="w-full flex justify-center items-center flex-col">
            <div class="w-[150px] ">
              <img src={{item.image}} alt="studentImage " class="rounded-full">
            </div>
            <h1 class="text-2xl font-bold mt-3">{{item.name}}</h1>
            <p class="font-thin">{{item.role}}</p>

            <h2 class="text-xl mt-11 font-bold text-[#205072] text-center">{{item.department}}</h2>
            <p class="w-[70%] text-[#787070] text-center mt-2">" {{item.quote}} "</p>
            <p class="mt-11 font-bold">Batch {{item.batch}}</p>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination "></div>
    <div class="swiper-button-prev invisible md:visible "></div>
    <div class="swiper-button-next invisible md:visible"></div>

  </div>

</section>


{% endblock body %}

{% block script %}
<script src={% static 'js/marquee.js' %}></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<script>
  const topbar = document.querySelector('.topbar');
  const img_overlay = document.querySelector('.img-overlay');
  img_overlay.style.bottom = topbar.getBoundingClientRect().height + "px";
  const counterSection = document.getElementById('counterSection');
  const counterStudents = document.getElementById('students_counter');
  const counterFaculty = document.getElementById('faculty_counter');
  const counterStaff = document.getElementById('staff_counter');

  function getOffset(el) {
    const rect = el.getBoundingClientRect();
    // console.log(rect.height);
    return {
      height: rect.height,
      left: rect.left + window.scrollX,
      top: rect.top + window.scrollY
    };
  }

  window.addEventListener('scroll', () => {
    console.log();
    if ((window.scrollY + getOffset(counterSection).height) >= getOffset(counterSection).top) {
      increment(counterStudents, 1000, 10)
      increment(counterFaculty, 70, 200)
      increment(counterStaff, 60, 500)

    }
  })
  function increment(element, finalValue, time) {
    const count = parseInt(element.innerHTML);
    if (count < finalValue) {
      element.innerHTML = count + 1 + "+";
      setTimeout(() => {
        increment(element, finalValue);
      }, time);
    }
    else if (count > finalValue) {
      element.innerHTML = finalValue + "+";
    }
  }

  const swiper = new Swiper('.swiper', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });





  // Footer Map Configurations

  var map = L.map('map', {
    center: [43.64701, -79.39425],
    zoom: 15
  });

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var firefoxIcon = L.icon({
    iconUrl: "{%  static  'images/cce.png'  %}",
    iconSize: [138, 95],
    popupAnchor: [0, -15]
  });

  var customPopup = `Christ College <img src="{%  static  'images/cce.png'  %}"></img><br/>`;

  var customOptions =
  {
    'maxWidth': '2900',
    'className': 'custom'
  }

  L.marker([43.64701, -79.39425], { icon: firefoxIcon }).bindPopup(customPopup, customOptions).addTo(map);











</script>
{% endblock script %}