{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock title %} {% block head %}
<link rel="stylesheet" href="{%  static  'css/home.css'  %}" />
{% endblock head %} {% block body %}
<section class="home_section relative">
  <div class="w-[100vw] h-[100vh] overflow-clip home_bg">
   
  </div>
  <div class="absolute top-0 left-0 w-[100vw] h-[100vh]  bg-[#11111d8c] img-overlay"></div>
  <div class="absolute bottom-[20vh] right-0 pl-5 pr-5 pt-2 pb-2 rounded-tl-sm rounded-bl-sm bg-[#007FFF] text-white">
    <i class="fa-solid fa-play"></i>
    <span class="mr-2">Play Video</span>
  </div>
  <div class="absolute  w-[100vw] h-[100vh] top-0 flex justify-center items-stretch ">
    <div class="w-full p-[15vw] text-white z-50 text-5xl flex flex-col justify-center items-start ">

      <p class=" font-extralight">The</p>
      <p class="font-black">Most Preferred</p>
      <p class=" font-extralight">private self-financing</p>
      <p class=" font-extralight">Engineering college</p>
    </div>
  </div>
</section>


<div class="absolute bottom-3 emphasis_animation w-full flex items-center justify-center">
  <img src="{%  static  'images/chevrons-down.svg'  %}" alt="chevrons-down" class="" />
  <i class="fa-duotone fa-chevrons-down"></i>
</div>


<section class="w-[100vw] h-[30vh] bg-[#F9F9F9] flex items-center justify-center "id="counterSection">
  <div class="w-[80%] flex items-center justify-between">
  <div class="flex-col justify-center flex items-center">
    <h1 class="text-5xl" id="2">1000+</h1>
    <p class="text-xl text-[#007FFF]"> students</p>
  </div>
  <div>balh</div>
  <div>blah</div>

  </div>
</section>

<section class="w-[100vw] h-[10vh]  ">
  <div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, adipisci.
  </div>
</section>




{% endblock body %}

{% block script %}

{% comment %} adding script for waypoint js used in number incrementer {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js" integrity="sha512-fHXRw0CXruAoINU11+hgqYvY/PcsOWzmj0QmcSOtjlJcqITbPyypc8cYpidjPurWpCnlB8VKfRwx6PIpASCUkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const topbar = document.querySelector('.topbar');
  const img_overlay = document.querySelector('.img-overlay');
  img_overlay.style.bottom = topbar.getBoundingClientRect().height + "px";
  console.log(topbar.getBoundingClientRect().height);

  const counterSection = document.querySelector('#counterSection');
  var bodyRect = document.body.getBoundingClientRect(),
    elemRect = counterSection.getBoundingClientRect(),
    offset   = elemRect.top - bodyRect.top;
    console.log(elemRect,scrollY)

    if(offset==window.scrollTop){
      console.log("hello")
    }

  function increment(elem, finalVal) {
    var currVal = parseInt(document.getElementById(elem).innerHTML, 10);
    if (currVal < finalVal) {
      currVal++;
      document.getElementById(elem).innerHTML = currVal + "+";
  
      setTimeout(function () {
        increment(elem, finalVal);
      }, 40);
    }
  }
  

</script>
{% endblock script %}