{% extends 'base.html' %} {% load static %} {% block title %} IQAC {% endblock title %} {% block head %}
<link rel="stylesheet" href="../static/css/iqac.css" />
{% endblock head %} {% block body %}
<main class="iqac-wrapper">
  <div class="quality-wrapper">
    <h1>Internal Quality Assurance Cell</h1>
    <div class="quality-wrapper-content">
      <p>
        To bring forth high quality standards and to maintain quality
        consciousness, Internal Quality Assurance Cell (IQAC) has been
        constituted at Christ College of Engineering. Internal Quality Assurance
        Cell gives necessary advice and guidelines to the administration to
        uphold high quality work in academics and administration of the college.
        The IQAC is responsible to take necessary measures foreseen to improvise
        the education quality of the institution. The cell works towards various
        accreditation aspects and helps the institution to set benchmarks. It
        assesses the performance of the institute periodically and conducts
        internal audits.
      </p>
    </div>
  </div>
  <div class="objectives-wrapper">
    <div class="objectives-wrapper-image">
      <img src="../static/images/goals 1.png" alt="objectives" />
      <h1>Objectives</h1>
    </div>
    <div class="objectives-wrapper-description">
      <ul>
        <li>
          To create and develop a quality structured system with constant,
          conscious, and planned actions to increase the internal quality of the
          institution.
        </li>
        <li>
          implement quality enhancement measures at various academic and
          administrative levels by introducing consistent efforts towards
          internal quality.
        </li>
        <li>
          To provide a platform to improve the institution quality in line with
          various global accreditation standards
        </li>
      </ul>
    </div>
  </div>
  <div class="function-wrapper">
    <div class="function-wrapper-image">
      <img src="../static/images/settings 1.png" alt="function" />
      <h1>Function</h1>
    </div>
    <div class="function-wrapper-description">
      <ul>
        <li>
          Development of quality enhancement techniques for various academic and
          extracurricular activities.
        </li>
        <li>
          Dissemination of information on various quality parameters of higher
          education and acting as a nodal agency of the institution for
          coordinating quality-related activities, including adoption of best
          practices.
        </li>
        <li>
          Organization of institutional workshops, seminars on quality related
          themes and create a conscious effort toward internal quality.
        </li>
        <li>
          Initiate the implementation of feedback responses from all
          stakeholders and efforts towards achieving quality related
          institutional processes.
        </li>
        <li>
          Development and application of quality benchmarks/parameters for
          various academic and administrative activities of the institution.
        </li>
        <li>
          Promotion of quality in teaching learning process by adopting methods
          and techniques in line with global quality standards.
        </li>
        <li>Ensure an error free evaluation procedure.</li>
      </ul>
    </div>
  </div>
  <div class="executive-committee-wrapper">
    <h1>Executive Committee</h1>
    <div>
      <table class="executive-committee-table fixed-scroll">
        <thead>
          <tr>
            <th>NAME</th>
            <th>DESIGNATION</th>
            <th>ROLE</th>
          </tr>
        </thead>
      </table>
      <table class="executive-committee-table">
        <tbody>
          <tr>
            <td>Fr.John Paliakara CMI</td>
            <td>Executive Director</td>
            <td>Management Representative</td>
          </tr>
          <tr>
            <td>Fr.Joy Payyappilly CMI</td>
            <td>Joint Director(Finance)</td>
            <td>Management Representative</td>
          </tr>
          <tr>
            <td>Dr.Sajeev John</td>
            <td>Principal</td>
            <td>Chairman</td>
          </tr>
          <tr>
            <td>Dr.V D John</td>
            <td>Professor and Vice Principal</td>
            <td>Convener</td>
          </tr>
          <tr>
            <td>Dr.Caren Babu</td>
            <td>Associate Professor and HOD,ECE</td>
            <td>Coordinator</td>
          </tr>
          <tr>
            <td>Fr.Antony Davis CMI</td>
            <td>Joint Director(Administration)</td>
            <td>Administrative Representative</td>
          </tr>
          <tr>
            <td>Ms.Santa Giri</td>
            <td>Chairperson,Irinjalakuda Muncipality</td>
            <td>Nominee from local society</td>
          </tr>
          <tr>
            <td>Mr.Tito Jose Moothedan</td>
            <td>Delivery Manager,Infosys Technologies</td>
            <td>Industry Representative</td>
          </tr>
          <tr>
            <td>Dr. M V Rajesh</td>
            <td>Associate Professor,CEC,IETE Kochi Chapter</td>
            <td>Administrative Representative</td>
          </tr>
          <tr>
            <td>Mr.Sajith Bosco</td>
            <td>Practice Head,Erasmith Technologies</td>
            <td>Employer Representative</td>
          </tr>
          <tr>
            <td>Mr.Gracious Kanjanikkaran</td>
            <td>Parent</td>
            <td>Parent Representative</td>
          </tr>
          <tr>
            <td>Ms.Vinitha Sharon</td>
            <td>Assistant Professor,CE</td>
            <td>Faculty Representative,Secretary</td>
          </tr>
          <tr>
            <td>Ms.Reshmi M</td>
            <td>Assistant Professor,BSH</td>
            <td>Faculty Representative</td>
          </tr>
          <tr>
            <td>Mr.Jinu K T</td>
            <td>Assistant Professor,EEE</td>
            <td>Faculty Representative</td>
          </tr>
          <tr>
            <td>Mr.Prasanth K Baby</td>
            <td>Assistant Professor,CSE</td>
            <td>Faculty Representative</td>
          </tr>
          <tr>
            <td>Mr.Girisanikar T R</td>
            <td>Assistant Professor,ME</td>
            <td>Faculty Representative</td>
          </tr>
          <tr>
            <td>Aravind Krishna C U</td>
            <td>B. Tech 2015-19 Batch,EE</td>
            <td>Alumini Representative</td>
          </tr>
          <tr>
            <td>Leo T Francis</td>
            <td>Students Union Chairman,B.Tech 2019-23</td>
            <td>Student Representative</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h1 class="text-center text-3xl">IQAC Formation Notices</h1>
      <div class="Formation-notices">    
        <ul class="text-xl">
          <li> <a href="">Constitution Notification 2021-2022</a></li>
          <li> <a href="">Constitution Notification 2020-2021</a></li>
          <li> <a href="">Constitution Notification 2019-2020</a></li>
          <li> <a href="">Constitution Notification 2017-2019</a></li>
        </ul>
      </div>
      <h1 class="text-center text-3xl">IQAC Meeting Notices And Minutes</h1>
      <div class="IQAC-Meeting-Notices-And-Minutes">
        <ul class="text-xl">
          <li>1. Notice and Meeting Minutes 2021-2022  <a href=""> |MOM1| </a> <a href=""> |MOM2| </a> <a href=""> |MOM3| </a> <a href=""> |MOM4| </a></li>
          <li>2. Notice and Meeting Minutes 2020-2021  <a href=""> |MOM1| </a> <a href=""> |MOM2| </a> <a href=""> |MOM3| </a></li>
          <li>3. Notice and Meeting Minutes 2019-2020  <a href=""> |MOM1| </a> <a href=""> |MOM2| </a> <a href=""> |MOM3| </a></li>
          <li>4. Notice and Meeting Minutes 2018-2019  <a href=""> |MOM1| </a> <a href=""> |MOM2| </a> <a href=""> |MOM3| </a></li>
          <li>5. Notice and Meeting Minutes 2017-2018  <a href=""> |MOM1| </a> <a href=""> |MOM2| </a> <a href=""> |MOM3| </a></li>
        </ul>
      </div>
    </div>
</main>
{% endblock %}
