{% extends 'base.html' %} {% load static %} {% block title %} Management CCE {% endblock title %} {% block head %}
    <link rel="stylesheet" href="/static/css/management.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/78057bbc72.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Saira+Condensed"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
{% endblock head %}
{% block body %}
<main class="management-cce-wrapper">
  <div
    class="management-hero"
    style="background-image: url('/static/images/Management/management-bg.png')"
  >
    <div class="management-hero-intro-details-wrapper">
      <div>
        <div style="position: relative">
          <h1 class="management-abbrevation">CCE</h1>
          <div class="management-header-font-arrow">
            <p class="management-name">Management</p>
            <div class="w-auto h-auto">
              <i
                class="fa-solid fa-angles-down animate-pulse text-white fa-xl"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-management-wrapper">
    <div class="about-management-header">
      <h1>Christ Educational and Charitable Trust</h1>
    </div>
    <div class="about-management-row">
      <div class="about-management-column">
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
      </div>
      <div class="about-management-column">
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
      </div>
      <div class="about-management-column">
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
      </div>
      <div class="about-management-column">
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
        <div class="management-photo-wrapper">
          <div class="management-photo">
            <img src="/static/images/Management/father1.png" style="width: 100%" />
          </div>
          <div class="management-photo-content">
            <h2>Rev. Fr. Davis Panakkal</h2>
            <p>Trust President</p>
            <p>Provincial, CMI Devamatha Province</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock body %}
