{% load static %}
{% load static tailwind_tags %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{%  static  'css/department.css'  %}">
<script  src="{%  static  'js/FacultySlider.js'  %}" defer></script>
<script src="https://kit.fontawesome.com/78057bbc72.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Saira+Condensed" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://nicesnippets.com/demo/easy_slide.js"></script>
</head>
<body>
<div class="slider slider_circle_10">
<div>
<div class="img"><img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-512.png"></div>
<div class="slider-desc">
<h3>Team Coock</h3>
<P>Designer</P>
<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
</div>
<div>
    <div class="img"><img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-512.png"></div>
    <div class="slider-desc">
    <h3>Tefgkl; Coock</h3>
    <P>Designer</P>
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    </div>
<div>
<div class="img"><img src="http://www.pvhc.net/img240/uyttxprhsqycyximpzjb.png"></div>
<div class="slider-desc">
<h3>Justine trodu</h3>
<P>Developer</P>
<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
</div>
<div>
<div class="img"><img src="https://t4.ftcdn.net/jpg/01/59/44/71/160_F_159447194_oZfyvVr9yDPISGzWfcDpYRQzb6gXy29c.jpg"></div>
<div class="slider-desc">
<h3>mike hanrik</h3>
<P>Graphic Designer</P>
<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
</div>
<div>
<div class="img"><img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png"></div>
<div class="slider-desc">
<h3>jef load</h3>
<P>Interior Designer</P>
<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
</div>
<div>
<div class="img"><img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/supportmale-512.png"></div>
<div class="slider-desc">
<h3>win desal</h3>
<P>SEO</P>
<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
</div>
<div class="next_button"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
<div class="prev_button"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
<div class="nav_indicators"></div>
</div>
</body>
<script>
    $(document).ready(function() {
$('.slider_circle_10').EasySlides({'autoplay': true, 'show': 5})
});
</script>
</html>