<div class="w-auto grid grid-cols-8 min-h-[50px] py-6">
  <div class="text-center px-2">{{item.name}}</div>
  <div class="text-center px-2">{{item.principal_investigator}}</div>
  <div class="text-center px-2">{{item.duration}}</div>
  <div class="text-center px-2">{{item.status}}</div>
  <div class="text-center px-2">{{item.funding_agency}}</div>
  <div class="text-center px-2">{{item.grand_sanctioned}}</div>
  <div class="text-center px-2">{{item.grand_recived}}</div>
  <div class="text-center px-2">
    <a href="{{item.publictaion_details.url}}" target="_blank" class='text-blue-700'>Open File</a>
  </div>
</div>
