{% load static %}
{% block head %}
<link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
<style>
    .fixed_nav{
        position: fixed;
        top: 0%;
        left: 0;
        right: 0;
    }
</style>
{% endblock head %}
{% block body %}
{% with request.resolver_match.url_name as url_name %}

<nav class=" glass  relative w-full  max-h-[100px] z-[999] "
    id="main-nav">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-2xl ">
        <a href="{% url 'home' %}" class="flex items-center absolute xl:relative top-3  md:top-0 ">
            <img src="{% static '/images/cce.png' %}" class="mr-3 lg:h-[100px] p-2 h-[80px]" alt="CCE Logo" />
        </a>
        <nav>
            <div class="nav-mobile top-3"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list glass ">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                
                <li>
                    <a href="#!">About</a>
                    <ul class="nav-dropdown ">
                        <li>
                            <a href="{% url 'Management'%}">Management</a>
                        </li>
                        <li>
                            <a href="{% url 'Directors_Desk'%}">Directors' Desk</a>
                        </li>
                        <li>
                            <a href="{% url 'Principals_Desk'%}">Principal's Desk</a>
                        </li>
                        <li>
                            <a href="{% url 'CCE_in_Media'%}">CCE in Media</a>
                        </li>
                        <li>
                            <a href="{% url 'Programs'%}">Programs Offered</a>
                        </li>
                        <li>
                            <a href="{% url 'Committees'%}">Committees</a>
                        </li>
                        <li>
                            <a href="{% url 'HR_Manual'%}">HR Manual</a>
                        </li>
                        <li>
                            <a href="{% url 'Vision_2035'%}">Vision 2035</a>
                        </li>
                        <li>
                            <a href="{% url 'Annual_Report'%}">Annual Report</a>
                        </li>
                         <li>
                            <a href="{% url 'College_Calendar'%}">College Calendar</a>
                        </li>
                        <li>
                            <a href="{% url 'College_Handbook'%}">College Handbook</a>
                        </li>
                        <li>
                            <a href="{% url 'Mandatory_Disclosure' %}">Documents</a>
                        </li>
                        <li>
                            <a href="{% url 'College_Magazine'%}">College Magazine</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#!">Administration</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="{% url 'Governing_Body'%}">Governing Body</a>
                        </li>
                         <li>
                            <a href="{% url 'organogram'%}">Organogram</a>
                        </li>
                        <li>
                            <a href="{% url 'academic_administration'%}">Academic Administration</a>
                        </li>
                         
                         <li>
                            <a href="{%url 'anti_ragging_cell'%}">Anti-Ragging Cell</a>
                        </li>
                         <li>
                            <a href="{% url 'grivence_redressal' 'index' 'login'%}">Grivence Redressal System</a>
                        </li>
                         <li>
                            <a href="{%url 'sc_st_committee_cell'%}">SC/ST Monitoring Committee</a>
                        </li>
                         <li>
                            <a href="{% url 'iqac'%}">IQAC</a>
                        </li>
                         <li>
                            <a href="{%url  'examination_cell'%}">Examination Cell</a>
                        </li>
                         <li>
                            <a href="{% url 'PTA' %}">PTA</a>
                        </li>
                         <li>
                            <a href="{% url 'Office' 'administrative_staff' %}">Office</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Academics</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="{% url 'Department' 'CSE' 'about' %}">Department Of Computer Science And Engineering</a>
                        </li>
                            <li>
                                <a href="{% url 'Department' 'ECE' 'about' %}">Department Of Electronics And Communication Engineering</a>
                            </li>
                            <li>
                                <a href="{% url 'Department' 'EEE' 'about' %}">Department Of Electrical And Electronics Engineering</a>
                            </li>
                            <li>
                                <a href="{% url 'Department' 'ME' 'about' %}">Department Of Mechanical Engineering</a>
                            </li>
                            <li>
                                <a href="{% url 'Department' 'CE' 'about' %}">Department Of Civil Engineering</a>
                            </li>
                            <li>
                                <a href="{% url 'Department' 'BSH' 'about' %}">Department Of Basic Science and Humanities</a>
                            </li>
                    </ul>
                </li>
                 <li>
                    <a href="{%url 'placement_page' 'index' %}">Placements</a>
                </li>
                <li>
                    <a href="#!">Student Support</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="https://iedc.cce.edu.in">IEDC</a>
                        </li>
                        <li>
                            <a href="https://iedc.cce.edu.in/tbi.html">TBI</a>
                        </li>
                        <li>
                            <a href="{%url 'iic'%}">IIC</a>
                        </li>
                         <li>
                            <a href="{%url 'arts'%}">Arts</a>
                        </li>
                        <li>
                            <a href="{%url 'sports'%}">Sports</a>
                        </li>
                        <li>
                            <a href="{%url 'clubs'%}">Clubs</a>
                        </li>
                        <li>
                            <a href="{%url 'women_cell'%}">Women Development Cell</a>
                        </li>
                        <li>
                            <a href="https://nss.co.in">NSS</a>
                        </li>
                        <li>
                            <a href="{% url 'union'%}">College Union</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'facilities' %}">Facilities</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>
{% endwith %}
{%endblock body %}
{% block script %}
<script>
    (function ($) { 
        $(function () { 
           
            $('nav ul li a:not(:only-child)').click(function (e) {
                $(this).siblings('.nav-dropdown').toggle();
               
                $('.nav-dropdown').not($(this).siblings()).hide();
                e.stopPropagation();
            });
          
            $('html').click(function () {
                $('.nav-dropdown').hide();
            });
           
            $('#nav-toggle').click(function () {
                $('nav ul').slideToggle();
            });
           
            $('#nav-toggle').on('click', function () {
                this.classList.toggle('active');
            });
        }); 
    })(jQuery); 
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('#main-nav').addClass('fixed_nav');
            $('#main-nav').removeClass('relative');

        } else {
            $('#main-nav').addClass('relative');

            $('#main-nav').removeClass('fixed_nav');
        }
    });
</script>

{% endblock script %}