{% extends 'base.html' %} {% load static %} {% block title %} Anti Ragging Cell Staff | Administration {%endblock title %} {% block head %} {% endblock head %} {% block body %}
<main>
  {% include 'components/Hero_section.html' %}
  <section class="md:px-24 px-7 mt-11 w-full" id="content">

    <div class="flex md:flex-row flex-col w-full items-center justify-center md:px-24 px-6 my-16 gap-10">
      <div class="md:w-1/2 ">
        <h2 class="font-bold text-4xl mb-6">Anti Ragging Cell</h2>
        <p class="text-gray-600">
          Anti-Ragging Committee will be the Supervisory and Advisory Committee in preserving a Culture of Ragging Free Environment in the college Campus. The Anti-Ragging Squad- office bearers will work under the Supervision of Anti Ragging Committee and to engage in the works of checking places like Canteens, Classrooms, Common rooms and other places of student congregation. Anti-Ragging Committee will be involved in designing strategies and action plan for curbing the Menace of Ragging in the college by adopting array of activities.
        </p>
      </div>
      <div class="md:w-1/2 ">
        <img src="{% static 'images/500_img.png' %}" alt="Anti Ragging Cell" class="md:w-[80%]  rounded-2xl h-full object-cover">
      </div>
    </div>

    <div class="w-full px-24 md:block hidden">
      <table class="w-full top-[100px] sticky ">
        <thead class="bg-[#28AAE199] h-[50px] rounded-t-xl w-full">
          <tr class="grid grid-cols-4">
            <th>NAME</th>
            <th>DESIGNATION</th>
            <th>ROLE</th>
            <th>EMAIL</th>
          </tr>
        </thead>
     
        <tbody class=''>
          {% for item in anti_ragging_cell_data%}
          <tr class="grid grid-cols-4 text-center odd:bg-[#fafafa] min-h-[40px] my-2 ">
            <td>{{item.name}}</td>
            <td>{{item.designation}}</td>
            <td>{{item.role}}</td>
            <td>{{item.email}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

    <div class="w-full px-6 md:hidden space-y-3">
      {% for item in anti_ragging_cell_data%}
      <div class="bg-white p-3  h-auto shadow-md border-gray-50 border-[0.5px]">
        <div class="flex justify-between items-center">

          <h1 class="text-xl font-bold  ">{{forloop.counter}}. {{item.name}}</h1>
        
        </div>
        <div class="flex justify-between  mt-4">
          <div class="text-start">
            <p class="text-gray-500">Designation</p>
            <h1>{{item.designation}}</h1>
          </div>
          <div class="text-start">
            <p class="text-gray-500">Role</p>
            <h1>{{item.role}}</h1>
          </div>
        </div>
        <div class="flex justify-between  mt-4">
          <div class="text-start">
            <p class="text-gray-500">Email</p>
            <h1>{{item.email}}</h1>
          </div>
          
        </div>
        
      </div>
      {% endfor %}

    </div>

    


    
    
  </section>

  <div class="w-full text-center my-11 text-[#007FFF] flex justify-center items-center">
    <a class="text-2xl font-semibold">Click Here to enter Grivence
     <span class="material-symbols-outlined">
      link
      </span>
    </a>
  </div>
</main>

{% include 'components/gallery.html' %} {% endblock %}
