{% extends 'base.html' %} {% load static %} {% block title %} External Audit | Adminstration {%endblock title %} {% block head %} {% endblock head %} {% block body %}
<main>
  {% include 'components/Hero_section.html' %}
  <section
    class="md:px-24 pt-24 px-6 py-4 md:flex-row flex flex-col gap-10"
    id="content"
  >
    <div class='w-full flex flex-col items-center justify-center gap-2'>
        <h3 class="text-3xl font-semibold text-center mt-11">About</h3>
        <p class="my-2 text-gray-700 text-justify">
        internal audit
        </p>
    </div>
  </section>
</main>
{% endblock %}
