{% extends 'base.html' %} {% load static %} {% block title %} IQAC {% endblock title %} {% block head %}
<link rel="stylesheet" href="../static/css/iqac.css" />
{% endblock head %} {% block body %}
<main class="w-[100vw]">
  {% include 'components/Hero_section.html' %}

  <section class="max-w-screen-2xl mx-auto px-11 mt-11">
    <div class="w-full text-center">
      <div class="">
        <h1 class="text-center font-semibold lg:text-5xl text-4xl mb-6">
          About
        </h1>
        <p>
          To bring forth high quality standards and to maintain quality
          consciousness, Internal Quality Assurance Cell (IQAC) has been
          constituted at Christ College of Engineering. Internal Quality
          Assurance Cell gives necessary advice and guidelines to the
          administration to uphold high quality work in academics and
          administration of the college. The IQAC is responsible to take
          necessary measures foreseen to improvise the education quality of the
          institution. The cell works towards various accreditation aspects and
          helps the institution to set benchmarks. It assesses the performance
          of the institute periodically and conducts internal audits.
        </p>
      </div>
    </div>
    <div
      class="w-full flex justify-evenly px-11 bg-[#F4FFE7] p-6 items-center mt-11 relative"
    >
      <div
        class="lg:w-[300px] lg:relative absolute inset-0 w-full flex items-center justify-center -z-1"
      >
        <img
          src="{%  static  'images/iqac/objectives.png'  %}"
          alt="iqac_objecctives"
          class="lg:opacity-[1] opacity-[0.5]"
        />
      </div>
      <div class="z-0">
        <h2 class="mb-4 font-semibold text-4xl">Objectives</h2>
        <ol class="space-y-6 h-full list-disc">
          <li>
            To create and develop a quality structured system with constant,
            conscious, and planned actions to increase the internal quality of
            the institution.
          </li>
          <li>
            implement quality enhancement measures at various academic and
            administrative levels by introducing consistent efforts towards
            internal quality.
          </li>
          <li>
            To provide a platform to improve the institution quality in line
            with various global accreditation standards
          </li>
        </ol>
      </div>
    </div>
    <div
      class="w-full flex justify-evenly px-11 bg-[#DBF4FF] p-6 items-center mt-11 relative gap-10"
    >
      <div
        class="lg:w-[380px] lg:relative absolute inset-0 w-full flex items-center justify-center -z-1"
      >
        <img
          src="{%  static  'images/iqac/functions.png'  %}"
          alt="iqac_objecctives"
          class="lg:opacity-[1] opacity-[0.5]"
        />
      </div>
      <div class="z-0">
        <h2 class="mb-4 font-semibold text-4xl">Functions</h2>
        <ul class="space-y-6 h-full list-disc">
          <li>
            Development of quality enhancement techniques for various academic
            and extracurricular activities.
          </li>
          <li>
            Dissemination of information on various quality parameters of higher
            education and acting as a nodal agency of the institution for
            coordinating quality-related activities, including adoption of best
            practices.
          </li>
          <li>
            Organization of institutional workshops, seminars on quality related
            themes and create a conscious effort toward internal quality.
          </li>
          <li>
            Initiate the implementation of feedback responses from all
            stakeholders and efforts towards achieving quality related
            institutional processes.
          </li>
          <li>
            Development and application of quality benchmarks/parameters for
            various academic and administrative activities of the institution.
          </li>
          <li>
            Promotion of quality in teaching learning process by adopting
            methods and techniques in line with global quality standards.
          </li>
          <li>Ensure an error free evaluation procedure.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="max-w-screen-2xl mx-auto px-11">
    <h1 class="my-11 font-semibold text-4xl text-center">
      Executive Committee
    </h1>
    <div class="w-full">
      {% comment %} medium screen table starts {% endcomment %}
      <table class="w-full executive-committee-table sticky top-0">
        <thead class="w-full bg-[#28AAE199] md:table hidden">
          <tr class="grid grid-cols-3 place-items-center h-[70px]">
            <th>NAME</th>
            <th>DESIGNATION</th>
            <th>ROLE</th>
          </tr>
        </thead>

        <tbody class="md:table hidden w-full">
          {% for member in IQAC_executive_commitee %}
          <tr class='grid grid-cols-3 w-full'>
            <td>{{member.name}}</td>
            <td>{{member.designation}}</td>
            <td>{{member.role}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% comment %} medium screen table ends {% endcomment %} {% comment %}
      mobile view starts {% endcomment %}
      <div class="w-full px-11 md:hidden space-y-3">
        {% for item in IQAC_executive_commitee%}
        <div
          class="bg-white p-3 h-auto shadow-md border-gray-50 border-[0.5px]"
        >
          <div class="flex justify-between items-center">
            <h1 class="text-xl font-bold">
              {{forloop.counter}}. {{item.name}}
            </h1>
          </div>
          <div class="flex justify-between mt-4">
            <div class="text-start">
              <p class="text-gray-500">Designation</p>
              <h1>{{item.designation}}</h1>
            </div>
            <div class="text-start">
              <p class="text-gray-500">Role</p>
              <h1>{{item.role}}</h1>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% comment %} mobile view for table ends {% endcomment %}
    </div>
    <h1 class="text-center text-3xl mt-11">IQAC Formation Notices</h1>
    <div class="w-full px-11 bg-[#f7f7ea] p-6 my-11 relative gap-10">
      <ul class="text-xl">
        {% for item in formation_notice %}
        <li><a href="{{item.notice.url}}" target="_blank">{{item.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
</main>
{% endblock %}
