{% extends 'base.html' %} {% load static %} {% block title %} Administrative Staff | Office {%endblock title %} {% block head %} {% endblock head %} {% block body %}
<main>
  {% include 'components/Hero_section.html' %}
  <section class="md:px-24 px-7 mt-11" id="content">
    <div class="flex gap-10 md:flex-row flex-col">
        <div class="col-span-1">
            <h2 class="font-semibold text-2xl px-4">Departments</h2>
            <p class="px-4 text-gray-400">Home / Administration / Office / Administrative Staff</p>
  
            {% include 'Administration/office_side_bar.html' %}
        </div>
  
        <div class="flex flex-wrap lg:gap-16 md:gap-10 gap-6 justify-center items-center w-full">
            {%for item in office_data%}
            <div class="bg-white shadow-md px-4 py-1 rounded-xl w-fit group ">
                <div class="max-w-[300px] overflow-clip max-h-[300px] rounded-xl ">
        
                    <img src="{{item.image.url}}" alt="hero_img" class="w-full object-center  bg-gray-300 group-hover:scale-105 transition-all duration-500">
                </div>
                <div class="space-y-1 mt-6 text-center">
        
                    <h1 class="text-xl font-bold">{{item.full_name}}</h1>
                    <p class="text-xs text-gray-500">{{item.role.all|join:", "}}</p>

                </div>
            </div>
            {%endfor%}
        </div>
    </div>
  
  </section>
</main>

{% include 'components/gallery.html' %} {% endblock %}
