{% extends 'base.html' %} {% load static %} {% block title %} PTA  {% endblock title %} {% block head %}
{% endblock head %}
{% block body %}
{% include 'components/Hero_section.html' %}

<section class="md:px-24  pt-24 px-6" id="content" >
    <h3 class="text-3xl font-semibold text-center mt-11">About</h3>
    <p class="text-center text-sm md:text-xl mt-4 text-justify mb-11">Christ College Of Engineering provides a wide range of opportunities to its students in the form of Sports and other activities. Making sure that the students are not only mentally but physically fit had been a major priority set since the beginning.</p>
</section>

<section>
    <h3 class="text-3xl font-semibold text-center my-11">PTA Executive Committee</h3>
    <table class="w-[90%] mx-auto hidden md:table">
        <thead class="w-full p-4 bg-[#28a9e1] h-[50px] sticky top-[12vh]">

            <tr class="p-4">
                <th>Sl.No</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Phone No</th>
                
            </tr>
        </thead>
        <tbody class="w-full text-center ">
            {% for item in PTA_executive_commitee%}
            <tr class="odd:bg-gray-300 h-[50px]">
                <td >{{forloop.counter}}</td>
                <td >{{item.name}}</td>
                <td >{{item.designation}}</td>
                <td >{{item.phone}}</td>
                
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="w-full px-11 md:hidden space-y-3">
        {% for item in PTA_executive_commitee%}
        <div class="bg-white p-3  h-auto shadow-md border-gray-50 border-[0.5px]">
          <div class="flex justify-between items-center">

            <h1 class="text-xl font-bold  ">{{forloop.counter}}. {{item.name}}</h1>
          
          </div>
          <div class="flex justify-between  mt-4 gap-6">
            <div class="text-start">
              <p class="text-gray-500">Designation</p>
              <h1>{{item.designation}}</h1>
            </div>
            <div class="text-start">
              <p class="text-gray-500">Phone</p>
              <h1>{{item.phone}}</h1>
            </div>
          </div>
          
        </div>
        {% endfor %}

      </div>

</section>


<section class="my-11">
    <h3 class="text-3xl font-semibold text-center my-11">PTA  Members</h3>
    <table class="w-[90%] mx-auto hidden md:table">
        <thead class="w-full p-4 bg-[#28a9e1] h-[50px] sticky top-[12vh]">

            <tr class="p-4">
                <th>Sl.No</th>
                <th>Name</th>
                <th>Name Of Student (Sem)</th>
                <th>Phone No</th>
                
            </tr>
        </thead>
        <tbody class="w-full text-center ">
            {% for item in PTA_members%}
            <tr class="odd:bg-gray-300 h-[50px]">
                <td >{{forloop.counter}}</td>
                <td >{{item.name}}</td>
                <td >{{item.tudent_name}}</td>
                <td >{{item.phone}}</td>
                
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="w-full px-11 md:hidden space-y-3">
        {% for item in PTA_members%}
        <div class="bg-white p-3  h-auto shadow-md border-gray-50 border-[0.5px]">
          <div class="flex justify-between items-center">

            <h1 class="text-xl font-bold  ">{{forloop.counter}}. {{item.name}}</h1>
          
          </div>
          <div class="flex justify-between  mt-4 gap-10">
            <div class="text-start">
              <p class="text-gray-500">Name Of Student</p>
              <h1>{{item.tudent_name}}</h1>
            </div>
            <div class="text-start">
              <p class="text-gray-500">Phone</p>
              <h1>{{item.phone}}</h1>
            </div>
          </div>
          
        </div>
        {% endfor %}

      </div>

</section>

{% endblock body %}