{% extends 'base.html' %} {% load static %} {% block title %} SC/ST Monitoring committee| Administration {%endblock title %} {% block head %} {% endblock head %} {% block body %}
<main>
  {% include 'components/Hero_section.html' %}
  <section class="md:px-24 px-7 mt-11 w-full" id="content">

    <div class="flex md:flex-row flex-col w-full items-center justify-center md:px-24 px-6 my-16 gap-10">
      <div class="md:w-1/2 ">
        <h2 class="font-bold text-4xl mb-6">SC/ST Monitoring Committee</h2>
        <p class="text-gray-600">
          The scheduled Caste (SC) and Scheduled Tribes (ST) Cell in an institute promotes the special interest of students in the reserved category and to provide special inputs in areas where the students experience difficult. The cell regularly have to conduct remedial coaching classes on life skills, personality development, writing assignments and making presentations and also have to organize interactive sessions and informal meetings with students to attend to their personal, social and academic problems. The SC/ST/OBC/PWD students can approach the Section Officer of the Cell for redressal of any grievance(s) regarding academic, administrative or social problems. The Section Officer will meet the concerned students, understand their problem and take necessary action and/or render them necessary advice/help to resolve the matter.
        </p>
      </div>
      <div class="md:w-1/2 ">
        <img src="{% static 'images/community.jpg' %}" alt="Anti Ragging Cell" class="md:w-[80%]  rounded-2xl h-full object-cover">
      </div>
    </div>

    <div class="w-full px-24 md:block hidden">
      <table class="w-full top-[100px] sticky ">
        <thead class="bg-[#28AAE199] h-[50px] rounded-t-xl w-full">
          <tr class="grid grid-cols-4">
            <th>NAME</th>
            <th>DESIGNATION</th>
            <th>ROLE</th>
            <th>EMAIL</th>
          </tr>
        </thead>
     
        <tbody class=''>
          {% for item in sc_st_cell_data%}
          <tr class="grid grid-cols-4 text-center odd:bg-[#fafafa] min-h-[40px] my-2 ">
            <td>{{item.name}}</td>
            <td>{{item.designation}}</td>
            <td>{{item.role}}</td>
            <td>{{item.email}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

    <div class="w-full px-6 md:hidden space-y-3">
      {% for item in sc_st_cell_data%}
      <div class="bg-white p-3  h-auto shadow-md border-gray-50 border-[0.5px]">
        <div class="flex justify-between items-center">

          <h1 class="text-xl font-bold  ">{{forloop.counter}}. {{item.name}}</h1>
        
        </div>
        <div class="flex justify-between  mt-4">
          <div class="text-start">
            <p class="text-gray-500">Designation</p>
            <h1>{{item.designation}}</h1>
          </div>
          <div class="text-start">
            <p class="text-gray-500">Role</p>
            <h1>{{item.role}}</h1>
          </div>
        </div>
        <div class="flex justify-between  mt-4">
          <div class="text-start">
            <p class="text-gray-500">Email</p>
            <h1>{{item.email}}</h1>
          </div>
          
        </div>
        
      </div>
      {% endfor %}

    </div>

    


    
    
  </section>

  <div class="w-full text-center my-11 text-[#007FFF] flex justify-center items-center">
    <a class="text-2xl font-semibold">Click Here to enter Grivence
     <span class="material-symbols-outlined">
      link
      </span>
    </a>
  </div>
</main>

{% include 'components/gallery.html' %} {% endblock %}
