{% extends 'base.html' %} {% load static %} {% block title %}  Audited Statements {%endblock title %} {% block head %} {% endblock head %} {% block body %}
<main>
  {% include 'components/Hero_section.html' %}
  <section class="md:px-24 pt-24 px-6 py-11" id="content">
    <h3 class="text-3xl font-semibold text-center mt-11">Audited Statements</h3>
   
  
    <div class="flex gap-10 md:flex-row flex-col items-start">
      <div class="col-span-1 flex justify-center items-center flex-col">
        {% include 'aboutCCE/documents_sidebar.html' %}
      </div>
      <div class="col-span-2 gap-10  mt-11 pt-6 flex w-full flex-wrap justify-center">
        {% for item in data  %}
        <div class="min-w-[300px] h-[300px] shadow-xl rounded-md">
          <div class="m-2 h-[60%] bg-[#F3F3F3] flex items-center justify-center"> <span class="material-symbols-outlined text-6xl text-[#BA1A1A]">
            picture_as_pdf
            </span></div>
          <h3 class="mx-4 mt-2 text-center">{{item.name}}</h3>  
          <a href="{{item.file.url}}" target="_blank" class=" mt-4 rounded-xl text-white bg-[#007FFF] mx-4 justify-center p-2 flex items-center">Open<span class="material-symbols-outlined">
            download
            </span>
            
            </a>
        </div>
        {% endfor %}
        
       </div>
    </div>
  </section>
</main>

 {% endblock %}
