{% extends 'base.html' %}


{% load static %} {% block title %} CCE In Media {% endblock title %}
 {% block head %}

{% endblock head %}
{% block body %}
<main >

    <section class="w-screen h-screen overflow-clip relative z-[-1]" >
        <img src="{% static 'images/defaultbg.jpg' %}" alt="hero_img" class="">
        <div class="bg-black bg-opacity-[0.5] absolute inset-0 "></div>
</section>

<section class="px-24">
    <h1 class="text-center w-full text-4xl my-11 font-bold">CCE in Media</h1>
    <div class="grid md:grid-cols-2 grid-cols-1" >
        <div>
            {%for item in cce_in_media_main%}
            <div class="w-full h-[400px] overflow-clip rounded-xl">

                <img  src="{% static 'images/defaultbg.jpg' %}" alt="cce_in_media" class="object-cover ">
                <div class="space-y-3">
                    <p class="text-sm text-gray-400 mt-2">{{item.date}}</p>
                    <h1 class="font-bold">{{item.title}}</h1>
                    <p class="text-xs text-gray-400 mb-3">{{item.description}}</p>
                    <a href="{{item.link}}" target="_blank" class="text-blue-400 font-bold mt-3">View More<i class="fa-solid fa-arrow-right ml-2 my-auto"></i></a>
                </div>
            </div>
            {%endfor%}
        </div>
        <div>
            {%for item in cce_in_media%}
            <div class="w-full h-[300px] overflow-clip rounded-xl flex space-x-6">

                <img  src="{% static 'images/defaultbg.jpg' %}" alt="cce_in_media" class="object-cover h-full w-300px">
                <div class="space-y-3">
                    <p class="text-sm text-gray-400 mt-2">{{item.date}}</p>
                    <h1 class="font-bold">{{item.title}}</h1>
                    <p class="text-xs text-gray-400 mb-3">{{item.description}}</p>
                    <a href="{{item.link}}" target="_blank" class="text-blue-400 font-bold mt-3">View More<i class="fa-solid fa-arrow-right ml-2 my-auto"></i></a>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>

<section class="px-24">
    <h1 class="text-center w-full text-4xl my-11 font-bold">More on CCE</h1>
    <div class="flex flex-wrap lg:gap-16 gap-8 mb-24">
     {% for item in more_on_cce%}
        <div class="bg-white p-3 h-[440px] w-[290px] shadow-xl border-[0.5px] border-gray-100 rounded-xl">
            <img src="{{item.image.url}}" alt="hero_img" class="rounded-xl h-[50%] w-full object-cover mx-auto">
            <div class="space-y-3">
                <p class="text-sm text-gray-400 mt-2">{{item.date}}</p>
                <h1 class="font-bold">{{item.title}}</h1>
                <p class="text-xs text-gray-400 mb-3">{{item.description}}</p>
                <a href="{{item.link}}" target="_blank" class="text-blue-400 font-bold mt-3">View More<i class="fa-solid fa-arrow-right ml-2 my-auto"></i></a>
            </div>
        </div>
        {% endfor %}

        

    </div>
</section>

    
</main>




{% endblock  %}