{% extends 'base.html' %} {% load static %} {% block title %} Committees 
{% endblock title %} {% block head %} {% endblock head %} {% block body %}
<main>
  {% include 'components/Hero_section.html' %}
  <section class="md:px-24 w-full text-center" id="content">
    <h1 class="text-4xl my-11 font-bold">
      Committees
    </h1>

    {% for items in data %}

    <h3 class="text-xl font-semibold text-left mt-11 py-1">Committees & Members {{ items.year }}</h3>
    <div class="p-1 border-2 border-blue-500 h-[90vh] ">
      <object
        
        data={{items.pdf.url}}
        type="application/pdf"
        class="w-full"
        height="100%">
      </object>
    </div>

    {% endfor %}
    
  </section>
</main>

{% include 'components/gallery.html' %} {% endblock %}
