{% extends 'base.html' %}


{% load static %} {% block title %} Management {% endblock title %}
 {% block head %}

{% endblock head %}
{% block body %}
<main >

    <section class="w-screen h-screen overflow-clip relative z-[-1]" >
        <img src="{% static 'images/defaultbg.jpg' %}" alt="hero_img" class="">
        <div class="bg-black bg-opacity-[0.5] absolute inset-0 "></div>
</section>
<section class="px-24 w-full text-center ">
<h1 class="text-4xl my-11 font-bold">Christ Educational and Charitable Trust</h1>
<div class="flex flex-wrap gap-16 ">
    {%for item in management_data%}
    <div class="bg-white shadow-md px-4 py-1 rounded-xl w-[250px] h-[300px]">
        <img src="{{item.image.url}}" alt="hero_img" class=" h-[70%] rounded-xl bg-gray-300">
        <h1 class="text-xl font-bold">{{item.name}}</h1>
        <p class="text-sm text-gray-500">{{item.designation}}</p>
        <p class="text-sm text-gray-500">{{item.title}}</p>
    </div>
    {%endfor%}
</div>
</section>
</main>




    {% include 'components/gallery.html' %}

{% endblock  %}