{% extends 'base.html' %}


{% load static %} {% block title %} Principal's Desk {% endblock title %}
{% block head %}

{% endblock head %}
{% block body %}
<main>

    {% include 'components/Hero_section.html' %}

    <section class="md:px-44 px-3 w-full text-center ">
        <h1 class="text-4xl my-11 font-bold">Principal</h1>
        <div class="w-full">
            <div class=" max-h-[500px] mx-auto overflow-clip">
                <img src="{{principal.image.url}}" alt="hero_img" class=" mx-auto">

            </div>

            <h1 class="text-4xl my-6 font-bold">{{principal.full_name}}</h1>
            <p class="text-2xl text-gray-400 ">Principal</p>
            <div class="flex flex-col items-start justify-center">
                
            </div>
            <div class="my-11 flex flex-col items-start justify-center">
                <h1 class="md:text-4xl text-2xl font-semibold mb-8">Message</h1>
                <p class="pl-5 border-l-[14px] border-blue-300 text-start">The idea of Christ College of Engineering was
                    born out of the aspirations of locals from different strata of society who felt the need for a
                    world-class institution offering professional education in the mini education hub called
                    Irinjalakuda. Today Christ College of Engineering is well on its way to becoming a much sought-after
                    destination for engineering education due to the efforts of all stakeholders. Our students are at
                    the center of this success story.
                    <br />
                    <br />
                    We leave no stone unturned in ensuring that along with academics, our students get the right amount
                    of exposure required for tomorrow’s successful global citizen, through the various programs held at
                    our campus. Successful engineering careers don’t happen by chance. Many factors contribute to this
                    success. We at Christ College of Engineering are committed to providing our students with the right
                    platform to launch themselves into a successful career. Experiential learning, developing one’s
                    portfolio, and building one’s network are fundamental to achieving this.
                    <br />
                    <br />

                    We believe that with the kind of transformative learning model in place here, we are on our way to
                    making a positive impact on our society and nation at large. Do you want your success story to take
                    shape here? Well then, come to our launchpad. Come join Christ College of Engineering.
                </p>
            </div>
        </div>

    </section>
    <section class="md:px-44 px-3 w-full text-center mt-11 ">
        <h1 class="text-4xl my-11 font-bold">Vice Principal</h1>
        <div class="w-full">

            <div class=" max-h-[500px] mx-auto overflow-clip">
                <img src="{{vice_principal.image.url}}" alt="hero_img" class=" mx-auto">

            </div>
            <h1 class="text-4xl my-6 font-bold">{{vice_principal.full_name}}</h1>
            <p class="text-2xl text-gray-400 ">Vice Principal</p>
           
            <div class="my-11 flex flex-col items-start justify-center">
                <h1 class="md:text-4xl text-2xl font-semibold mb-8">Message</h1>
                <div class="pl-5 border-l-[14px] border-blue-300 text-start space-y-6 w-full">
                    <p class="text-gray-500 text-center w-full">“Technical Education is a shared commitment between dedicated faculty members, motivated students and enthusiastic parents with high expectations.”</p>

                    <p>Today the role of a professional education provider is not only to pursue academic excellence but also to motivate and empower its students to be lifelong learners. Learning is the process of constantly updating in an ever changing world. The tremendous recent changes in the current global scenario present both challenges and opportunities in the engineering education.</p>

                    <p>Within a short span of time, Christ College of Engineering that is being managed by Christ Educational and Charitable Trust has earned its own niche among the engineering colleges under APJ Abdul Kalam Technological University. Here we provide an atmosphere to our students for multifaceted development, where they are encouraged to channelize their potential in the pursuit of a bright career.</p>

                    <p>Excellence, in both academic and co-curricular aspects is an integral value of education that we offer to our students. We inculcate social values and social awareness through a variety of academic, co-curricular and extracurricular activities. We strongly encourage students to participate in these activities and showcase their talents. </p>

                    <p>I sincerely wish each student at CCE a very happy and academically highly rewarding student life and hope that their accomplishments will enhance the pride and prestige of our Institution.</p>
                </div>
            </div>
        </div>

    </section>
</main>




{% endblock %}