{% extends 'base.html' %} {% load static %} {% block title %} Programs Offered {% endblock title %} 
{% block head %} 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock head %} 

{% block body %}
<main>
  {% include 'components/Hero_section.html' %}
  
  <section class="md:px-24 px-7 mt-11 w-full" id="content">
    <section class="md:px-24 w-full text-center">
      <h1 class="text-4xl my-11 font-bold">Programs Offered</h1>
    </section>

    <div class="w-full px-4 md:px-24 md:block hidden">
      <table class="w-full top-[100px] sticky mb-20">
        <thead class="bg-[#28AAE199] h-[50px] rounded-t-xl w-full">
          <tr class="grid grid-cols-3 text-center items-center h-full">
            <th>Programs</th>
            <th>Code</th>
            <th>Intake</th>
          </tr>
        </thead>
     
        <tbody>
          <tr class="grid grid-cols-1 bg-gray-200 text-left px-10 py-2 font-bold uppercase text-sm tracking-wider">
            <td>B.Tech Programs</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td><a href="{% url 'Department' 'CE' 'about' %}">Civil Engineering</a></td>
            <td>CE</td>
            <td>60</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td><a href="{% url 'Department' 'CSE' 'about' %}">Computer Science & Engineering</a></td>
            <td>CSE</td>
            <td>240</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td><a href="{% url 'Department' 'CSE' 'about' %}">Computer Science & Engineering (Data Science)</a></td>
            <td>CSD</td>
            <td>60</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td><a href="{% url 'Department' 'CSE' 'about' %}">Computer Science & Business Systems</a></td>
            <td>CSB</td>
            <td>60</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td><a href="{% url 'Department' 'ECE' 'about' %}">Electronics & Communication Engineering</a></td>
            <td>ECE</td>
            <td>60</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td><a href="#">Electronics (VLSI Design)*</a></td>
            <td>VLSI</td>
            <td>30</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td><a href="{% url 'Department' 'EEE' 'about' %}">Electrical & Electronics Engineering</a></td>
            <td>EEE</td>
            <td>60</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td><a href="{% url 'Department' 'ME' 'about' %}">Mechanical Engineering</a></td>
            <td>ME</td>
            <td>60</td>
          </tr>

          <tr class="grid grid-cols-1 bg-gray-200 text-left px-10 py-2 font-bold uppercase text-sm tracking-wider">
            <td>M.Tech Programs</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td>Computer Science & Engineering</td>
            <td>M.CSE</td>
            <td>12</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td>Structural Engg. & Construction Mgmt</td>
            <td>M.SEC</td>
            <td>12</td>
          </tr>

          <tr class="grid grid-cols-1 bg-gray-200 text-left px-10 py-2 font-bold uppercase text-sm tracking-wider">
            <td>Post Graduate Programs</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td><a href="{% url 'Department' 'MCA' 'about' %}">Master of Computer Applications (MCA)*</a></td>
            <td>MCA</td>
            <td>60</td>
          </tr>
          <tr class="grid grid-cols-3 text-center odd:bg-[#fafafa] min-h-[40px] my-2 items-center">
            <td>MBA (HR, Marketing, Finance, Ops, Systems)</td>
            <td>MBA</td>
            <td>120</td>
          </tr>
        </tbody>
      </table>
      <p class="text-sm text-gray-500 italic mb-10">* Subject to approval</p>
    </div> 
  </section>
</main>

{% include 'components/gallery.html' %} 
{% endblock %}