{% extends 'base.html' %} {% load static %} {% block title %} Vision 2035
{% endblock title %} {% block head %} {% endblock head %} {% block body %}
<main>
  {% include 'components/Hero_section.html' %}
  <section class="md:px-24 w-full text-center">
    <h1 class="text-4xl my-11 font-bold">
      Vision 2035
    </h1>
    <div class="p-1 border-2 border-blue-500 "><iframe src="{%static 'pdfs/WILL BE UPLOADED SOON.pdf'%}" frameborder="0" width="100%" height="100%" class="h-[90vh] aspect-w-9 aspect-h-16">
    </iframe>
  </div>
  </section>
</main>

{% include 'components/gallery.html' %} {% endblock %}
