{% extends 'base.html' %} {% load static %} {% block title %} Academic Partnership/Internship -
Research & Consultancy {% endblock title %} {%block head %} {% endblock head %}
{% block body %} {%include 'components/Hero_section.html' %}

<section class="md:px-24 pt-24 px-6 my-11" id="content">
  

  <div class="flex gap-10 md:flex-row flex-col">
    <div class="col-span-1">
      <h2 class="font-semibold text-2xl px-4">Departments</h2>
      <p class="px-4 text-gray-400">
        Home / Research & Consultancy / Funded Projects
      </p>

      {%include 'researchAndConsultancy/sidebar.html'%}
    </div>

    <div class="pt-6 w-full">
      <h3 class=" text-2xl md:text-5xl font-semibold text-center mt-11 w-full my-6">Academic Partnership/Internship </h3>
      <div class="block xl:table w-full">
        <div
          class="hidden xl:table-header-group bg-blue-300 rounded-t-xl py-6 sticky top-[10vh]"
        >
          <div class="w-auto grid grid-cols-5 justify-evenly min-h-[50px] py-6">
            <div class="text-center px-2">Name</div>
            <div class="text-center px-2">Year</div>
            <div class="text-center px-2">Name of Client/Organization</div>
            <div class="text-center px-2">Work Done</div>
            <div class="text-center px-2">Amount Recieved During The Year</div>
          </div>
        </div>

        <div class="space-y-4 xl:space-y-0 xl:table-row-group">
          {% for item in academic_consultancy%}
          <div class="hidden xl:block">
            <div class="w-auto grid grid-cols-5 min-h-[50px] py-6">
              <div class="text-center px-2">{{item.name}}</div>
              <div class="text-center px-2">
                {{item.year}}
              </div>
              <div class="text-center px-2">{{item.name_of_client}}</div>
              <div class="text-center px-2 {% if item.status == 'completed' %} text-green-400{% else %}text-blue-500 {% endif %}">{{item.status}}</div>
              <div class="text-center px-2">{{item.amount_recived}}</div>
            </div>
          </div>

          {% comment %} mobile view  starts {% endcomment %}
          <div class="xl:hidden w-full">
            <div
              class="bg-white p-3 h-auto shadow-md border-gray-50 border-[0.5px]"
            >
              <div class="flex justify-between items-center">
                <h1 class="text-xl font-bold">
                  {{forloop.counter}}. {{item.name}}
                </h1>
              </div>
              <div class="flex justify-between mt-4 gap-4">
                <div class="text-start">
                  <p class="text-gray-500">Name of Client/Organization</p>
                  <h1>{{item.name_of_client}}</h1>
                </div>
                <div class="text-end">
                  <p class="text-gray-500">Year</p>
                  <h1>{{item.year}}</h1>
                </div>
              </div>
              <div class="flex justify-between mt-4 gap-4">
                <div class="text-start">
                  <p class="text-gray-500">Amount Recieved During The Year</p>
                  <h1>{{item.amount_recived}}</h1>
                </div>
                <div class="text-end">
                  <p class="text-gray-600">Status</p>
                  <h1
                    class="{% if item.status == 'completed' %} text-green-400{% else %}text-blue-500 {% endif %}"
                  >
                    {{item.status}}
                  </h1>
                </div>
              </div>
            </div>
          </div>
          {% comment %} mobile view Ends {% endcomment %}

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %} {% block script %}
<script></script>
{% endblock script %}
