{% extends 'base.html' %} {% load static %} {% block title %} Funded Projects - Research & Consultancy {% endblock title %}
{%block head %} {% endblock head %}
{% block body %} {%include 'components/Hero_section.html' %}

<section class="md:px-24 pt-24 px-6 my-11" id="content">
  <h3 class="text-5xl font-semibold text-center mt-11 w-full">Research</h3>

  <div class="flex gap-10 md:flex-row flex-col">
    <div class="col-span-1">
      <h2 class="font-semibold text-2xl px-4">Departments</h2>
      <p class="px-4 text-gray-400">
        Home / Research & Consultancy / Funded Projects
      </p>

      {%include 'researchAndConsultancy/sidebar.html'%}
    </div>

    <div class=" pt-6 w-full ">
      <div class=" hidden xl:table w-full">
        <div class="table-header-group bg-blue-300 rounded-t-xl py-6 sticky top-[10vh]">
          <div class="w-auto flex justify-evenly min-h-[50px] py-6">
            <div class=" text-center px-2">Name of the Project</div>
            <div class=" text-center px-2">Name of the Principal
              Investigator</div>
            <div class=" text-center px-2">Duration</div>
            <div class=" text-center px-2">Status</div>
            <div class=" text-center px-2">Funding Agency</div>
            <div class=" text-center px-2">Grant Sactioned</div>
            <div class=" text-center px-2">Grant Recieved</div>
            <div class=" text-center px-2">Publication Details</div>
          </div>
        </div>
        <div class="table-row-group">
          <div class="w-full bg-[#E0F2FF] text-center min-h-[50px] text-2xl text-gray-700 text-center font-bold">
            Department Of CS</div>
          {% for item in cse_projects%}
          <div class="w-auto flex justify-evenly min-h-[50px] py-6">
            <div class=" text-center px-2">{{item.name}}</div>
            <div class=" text-center px-2">{{item.principal_investigator}}</div>
            <div class=" text-center px-2">{{item.duration}}</div>
            <div class=" text-center px-2">{{item.status}}</div>
            <div class=" text-center px-2">{{item.funding_agency}}</div>
            <div class=" text-center px-2">{{item.grand_sanctioned}}</div>
            <div class=" text-center px-2">{{item.grand_recived}}</div>
            <div class=" text-center px-2"><a href="{{item.publictaion_details.url}}" target="_blank">Open File</a>
            </div>
          </div>
          {% endfor %}

          <div class="w-full bg-[#E0F2FF] text-center min-h-[50px] text-2xl text-gray-700 text-center font-bold">
            Department Of EC</div>
          {% for item in ece_projects%}

          <div class="w-auto flex justify-evenly min-h-[50px] py-6">
            <div class=" text-center px-2">{{item.name}}</div>
            <div class=" text-center px-2">{{item.principal_investigator}}</div>
            <div class=" text-center px-2">{{item.duration}}</div>
            <div class=" text-center px-2">{{item.status}}</div>
            <div class=" text-center px-2">{{item.funding_agency}}</div>
            <div class=" text-center px-2">{{item.grand_sanctioned}}</div>
            <div class=" text-center px-2">{{item.grand_recived}}</div>
            <div class=" text-center px-2"><a href="{{item.publictaion_details.url}}" target="_blank">Open File</a>
            </div>
          </div>
          {% endfor %}

          <div class="w-full bg-[#E0F2FF] text-center min-h-[50px] text-2xl text-gray-700 text-center font-bold">
            Department Of EE</div>
          {% for item in eee_projects%}
          <div class="w-auto flex justify-evenly min-h-[50px] py-6">
            <div class=" text-center px-2">{{item.name}}</div>
            <div class=" text-center px-2">{{item.principal_investigator}}</div>
            <div class=" text-center px-2">{{item.duration}}</div>
            <div class=" text-center px-2">{{item.status}}</div>
            <div class=" text-center px-2">{{item.funding_agency}}</div>
            <div class=" text-center px-2">{{item.grand_sanctioned}}</div>
            <div class=" text-center px-2">{{item.grand_recived}}</div>
            <div class=" text-center px-2"><a href="{{item.publictaion_details.url}}" target="_blank">Open File</a>
            </div>
          </div>
          {% endfor %}

          <div class="w-full bg-[#E0F2FF] text-center min-h-[50px] text-2xl text-gray-700 text-center font-bold">
            Department Of CE</div>
          {% for item in ce_projects%}
          <div class="w-auto flex justify-evenly min-h-[50px] py-6">
            <div class=" text-center px-2">{{item.name}}</div>
            <div class=" text-center px-2">{{item.principal_investigator}}</div>
            <div class=" text-center px-2">{{item.duration}}</div>
            <div class=" text-center px-2">{{item.status}}</div>
            <div class=" text-center px-2">{{item.funding_agency}}</div>
            <div class=" text-center px-2">{{item.grand_sanctioned}}</div>
            <div class=" text-center px-2">{{item.grand_recived}}</div>
            <div class=" text-center px-2"><a href="{{item.publictaion_details.url}}" target="_blank">Open File</a>
            </div>
          </div>
          {% endfor %}

          <div class="w-full bg-[#E0F2FF] text-center min-h-[50px] text-2xl text-gray-700 text-center font-bold">
            Department Of ME</div>
          {% for item in me_projects%}
          <div class="w-auto flex justify-evenly min-h-[50px] py-6">
            <div class=" text-center px-2">{{item.name}}</div>
            <div class=" text-center px-2">{{item.principal_investigator}}</div>
            <div class=" text-center px-2">{{item.duration}}</div>
            <div class=" text-center px-2">{{item.status}}</div>
            <div class=" text-center px-2">{{item.funding_agency}}</div>
            <div class=" text-center px-2">{{item.grand_sanctioned}}</div>
            <div class=" text-center px-2">{{item.grand_recived}}</div>
            <div class=" text-center px-2"><a href="{{item.publictaion_details.url}}" target="_blank">Open File</a>
            </div>
          </div>
          {% endfor %}

          <div class="w-full bg-[#E0F2FF] text-center min-h-[50px] text-2xl text-gray-700 text-center font-bold">
            Department Of BSH</div>
          {% for item in bsh_projects%}
          <div class="w-auto flex justify-evenly min-h-[50px] py-6">
            <div class=" text-center px-2">{{item.name}}</div>
            <div class=" text-center px-2">{{item.principal_investigator}}</div>
            <div class=" text-center px-2">{{item.duration}}</div>
            <div class=" text-center px-2">{{item.status}}</div>
            <div class=" text-center px-2">{{item.funding_agency}}</div>
            <div class=" text-center px-2">{{item.grand_sanctioned}}</div>
            <div class=" text-center px-2">{{item.grand_recived}}</div>
            <div class=" text-center px-2"><a href="{{item.publictaion_details.url}}" target="_blank">Open File</a>
            </div>
          </div>
          {% endfor %}



        </div>


      </div>
    </div>
  </div>
</section>
{% endblock body %} {% block script %}
<script></script>
{% endblock script %}