{% extends 'base.html' %} {% load static %} {% block title %} About  - Research & Consultancy {% endblock title %} {% block head %} {% endblock head %} 
{% block body %} {%include 'components/Hero_section.html' %}

<section class="md:px-24 pt-24 px-6 my-11" id="content">
  <h3 class="text-5xl font-semibold text-center mt-11 w-full">Research</h3>

  <div class="flex gap-10 md:flex-row flex-col">
    <div class="col-span-1">
      <h2 class="font-semibold text-2xl px-4">Departments</h2>
      <p class="px-4 text-gray-400">
        Home / Research & Consultancy / About 
      </p>

     {%include 'researchAndConsultancy/sidebar.html'%}
    </div>

    <div class=" pt-6">
      <h2 class="text-3xl font-bold">About</h2>
      <p class="text-gray-700 ">
        The committee promotes enhancement of research output of the college. It makes the members of the faculty informed of the schemes of UGC and other funding agencies. The committee also makes sure that the proposals are submitted in time and proper follow up actions are made. It also makes invaluable suggestions for the improvement of the research centres of the college.
      </p>
      <div class="w-full flex items-start justify-start flex-col gap-5">
        <h1 class="text-4xl font-semibold text-left mt-11 w-full">Research labs</h1>
        <div class="w-full flex items-start justify-start gap-3">
            <a target="_blank" href="{%url 'ccil'%}" class="relative w-fit flex items-center text-white  text-xl justify-center gap-2 rounded-lg border-solid border-2 px-3 py-2 bg-blue-500 border-blue-500">
                CCIOL
                <span class="material-symbols-outlined">link</span>
            </a>
            <a target="_blank" href="{%url 'ccevr'%}" class="relative w-fit flex items-center text-white text-xl justify-center gap-2 rounded-lg border-solid border-2 px-3 py-2 bg-blue-500 border-blue-500">
                CCEVR
                <span class="material-symbols-outlined">link</span>
            </a>
        </div>
      </div>
  </div>
  </div>
</section>
{% endblock body %} {% block script %}
<script></script>
{% endblock script %}
