{% extends 'base.html' %} {% load static %} {% block title %} About  - Research & Consultancy {% endblock title %} {% block head %} {% endblock head %} 
{% block body %} {%include 'components/Hero_section.html' %}

<section class="md:px-24 pt-24 px-6 my-11" id="content">
  <h3 class="text-5xl font-semibold text-center mt-11 w-full">Research</h3>

  <div class="flex gap-10 md:flex-row flex-col">
    <div class="col-span-1">
      <h2 class="font-semibold text-2xl px-4">Departments</h2>
      <p class="px-4 text-gray-400">
        Home / Research & Consultancy / About 
      </p>

     {%include 'researchAndConsultancy/sidebar.html'%}
    </div>

    <div class=" pt-6">
      <h2 class="text-3xl font-bold">About</h2>
      <p class="text-gray-700 ">
        The committee promotes enhancement of research output of the college. It makes the members of the faculty informed of the schemes of UGC and other funding agencies. The committee also makes sure that the proposals are submitted in time and proper follow up actions are made. It also makes invaluable suggestions for the improvement of the research centres of the college. The committee plans to launch a programme to encourage the PG students to engage more in research projects.
      </p>
  </div>
  </div>
</section>
{% endblock body %} {% block script %}
<script></script>
{% endblock script %}
