{% extends 'base.html' %} {% load static %} {% block title %} Academic Partnership/Internship -
Research & Consultancy {% endblock title %} {%block head %} {% endblock head %}
{% block body %} {%include 'components/Hero_section.html' %}

<section class="md:px-24 pt-24 px-6 my-11" id="content">
  

  <div class="flex gap-10 md:flex-row flex-col">
    <div class="col-span-1">
      <h2 class="font-semibold text-2xl px-4">Departments</h2>
      <p class="px-4 text-gray-400">
        Home / Research & Consultancy / Funded Projects
      </p>

      {%include 'researchAndConsultancy/sidebar.html'%}
    </div>

    <div class="pt-6 w-full">
      <h3 class="text-2xlmd:text-5xl  font-semibold text-center mt-11 w-full my-6">KTU APPROVAL RESEARCH GUIDES</h3>
      <div class="block xl:table w-full">
        <div
          class="hidden xl:table-header-group bg-blue-300 rounded-t-xl py-6 sticky top-[10vh]"
        >
          <div class="w-auto grid grid-cols-4 justify-evenly min-h-[50px] py-6">
            <div class="text-center px-2">Si No</div>
            <div class="text-center px-2">Name of the Faculty</div>
            <div class="text-center px-2">Department</div>
            <div class="text-center px-2">Year of Approval</div>
          </div>
        </div>

        <div class="space-y-4 xl:space-y-0 xl:table-row-group">
          {% for item in research_guides%}
          <div class="hidden xl:block">
            <div class="w-auto grid grid-cols-4 min-h-[50px] py-6">
              <div class="text-center px-2">{{forloop.counter}}</div>
              <div class="text-center px-2">
                {{item.faculty.full_name}}
              </div>
              <div class="text-center px-2">{{item.faculty.department}}</div>
             
              <div class="text-center px-2">{{item.year}}</div>
            </div>
          </div>

          {% comment %} mobile view  starts {% endcomment %}
          <div class="xl:hidden w-full">
            <div
              class="bg-white p-3 h-auto shadow-md border-gray-50 border-[0.5px]"
            >
              <div class="flex justify-between items-center">
                <h1 class="text-xl font-bold">
                  {{forloop.counter}}. {{item.faculty.full_name}}
                </h1>
              </div>
              <div class="flex justify-between mt-4 gap-4">
                <div class="text-start">
                  <p class="text-gray-500">Department</p>
                  <h1>{{item.faculty.department}}</h1>
                </div>
                <div class="text-end">
                  <p class="text-gray-500">Year of Approval</p>
                  <h1>{{item.year}}</h1>
                </div>
              </div>
              
            </div>
          </div>
          {% comment %} mobile view Ends {% endcomment %}

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %} {% block script %}
<script></script>
{% endblock script %}
