{% load static %}
{% block head %}
<link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
{% endblock head %}
{% with request.resolver_match.url_name as url_name %}

<nav class="{% if url_name != 'home'%} relative top-0 left-0 right-0  bg-black  bg-opacity-[0.5] {% else %} home   z-[999] left-0 right-0 {% endif %} glass max-h-[100px]"
    id="main-nav">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-2xl ">
        <a href="cce.edu.in" class="flex items-center absolute md:relative top-0 ">
            <img src="{% static '/images/cce.png' %}" class="mr-3 h-[90px]" alt="CCE Logo" />
        </a>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="#!">Home</a>
                </li>
                <li>
                    <a href="#!">About</a>
                </li>
                <li>
                    <a href="#!">Services</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="#!">Web Design</a>
                        </li>
                        <li>
                            <a href="#!">Web Development</a>
                        </li>
                        <li>
                            <a href="#!">Graphic Design</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Pricing</a>
                </li>
                <li>
                    <a href="#!">Portfolio</a>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="#!">Web Design</a>
                        </li>
                        <li>
                            <a href="#!">Web Development</a>
                        </li>
                        <li>
                            <a href="#!">Graphic Design</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</nav>
{% endwith %}
{% block script %}
<script>
    (function ($) { // Begin jQuery
        $(function () { // DOM ready
            // If a link has a dropdown, add sub menu toggle.
            $('nav ul li a:not(:only-child)').click(function (e) {
                $(this).siblings('.nav-dropdown').toggle();
                // Close one dropdown when selecting another
                $('.nav-dropdown').not($(this).siblings()).hide();
                e.stopPropagation();
            });
            // Clicking away from dropdown will remove the dropdown class
            $('html').click(function () {
                $('.nav-dropdown').hide();
            });
            // Toggle open and close nav styles on click
            $('#nav-toggle').click(function () {
                $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function () {
                this.classList.toggle('active');
            });
        }); // end DOM ready
    })(jQuery); // end jQuery
    var navbar = document.getElementById("main-nav");
    let normal
    if (navbar.classList.contains("home")) {
        normal = ['absolute', 'top-9']
    }
    var top = navbar.offsetTop;
    const sticky = ['fixed', 'top-0', 'bg-black', 'bg-opacity-[0.5]']
    navbar.classList.add(...normal);
    window.addEventListener('scroll', function () {
        if (window.scrollY > navbar.getBoundingClientRect().height) {
            navbar.classList.add(...sticky);
            navbar.classList.remove(...normal);
        } else {
            navbar.classList.add(...normal);
            navbar.classList.remove(...sticky);
        }
    });

</script>

{% endblock script %}