{% load static %}

{% with request.resolver_match.url_name as url_name %}

{# Navbar Segment #}
 <nav
      class="{% if 'departments/' in request.get_full_path %}absolute {% else %}{% if url_name == 'home' %}absolute{% else %}bg-[#252929]{% endif %}{% endif %} navbar w-[100vw] flex  justify-center items-center z-[300]">
      <div class="flex justify-between items-center w-[80%]">
        <div class="">
          <img src="{%  static  'images/cce.png'  %}" alt="logo" class="md:w-[250px] w-[150px]">
        </div>

        <div>
        

          <div class="absolute top-0 left-0 w-[100vw] h-[100px] "></div>
          {% endwith %}

        </div>
      </div>
    </nav>
  